<div id="column-drop-action-popup" style="width: 380px; height: 210px;">
    <div rel="title">
        Drop Column
    </div>
    <div rel="body" style="padding: 5px; width: 100%; height: 100%">
        <div style="line-height: 30px;">
            <label for='drop-column-table-owner'>Owner:</label>
            <input id='drop-column-table-owner' style="margin-left: 30px; width: 250px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='drop-column-table-name'>Name:</label>
            <input id='drop-column-table-name' style="margin-left: 34px; width: 250px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for="drop-column-name">Column:</label>
            <select id="drop-column-name" style="margin-left: 24px; width: 250px;"></select>
        </div>
    	<script type="text/javascript">
    		var queryString = window.location.search;
			var params = new URLSearchParams(queryString);
			var tableName = params.get('name');
			var schemaName = params.get('schemaName');

            $j('#drop-column-table-owner').val(schemaName);
            $j('#drop-column-table-name').val(tableName);

            var dbSQL = null;
            var dbTable = new DatabaseEditableTable(tableName);

            dbTable.addColumnsListAvailableEventListener(onColumnsListAvailable);
            dbTable.getColumnsList(null);

            function onColumnsListAvailable(result, source) {
                result.forEach(function(column) {
                    $j('#drop-column-name').append('<option>' + column + '</option>');
                });
            }

            function applyAndClose() {
                var dropColumnName = $j('#drop-column-name').val();

                var sql = 'ALTER TABLE ' + schemaName + '.' + tableName + ' DROP COLUMN ' + dropColumnName + ';';
                dbSQL = new DatabaseSQL();
                dbSQL.addSQLSuccessEventListener(onSQLSuccess);
                dbSQL.addSQLErrorEventListener(onSQLError);

                w2popup.lock('Dropping column...', true);
                dbSQL.execute_sql(sql);
            }

            function onSQLSuccess() {
                w2popup.unlock();
                w2alert('Column dropped successfully!')
                    .done(function() {
                        dbSQL.destroy();
                        w2popup.close();
                    });
            }

            function onSQLError(result) {
                w2popup.unlock();
                w2alert('Error while dropping column: ' + result);
                dbSQL.destroy();
            }
    	</script>
    </div>
    <div rel="buttons">
        <button class="w2ui-btn" onclick="applyAndClose()">Apply</button>
        <button class="w2ui-btn" onclick="w2popup.close()">Close</button>
    </div>
</div>