<div id="column-rename-action-popup" style="width: 380px; height: 250px;">
    <div rel="title">
        Rename Column
    </div>
    <div rel="body" style="padding: 5px; width: 100%; height: 100%">
        <div style="line-height: 30px;">
            <label for='rename-column-table-owner'>Owner:</label>
            <input id='rename-column-table-owner' style="margin-left: 30px; width: 250px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='rename-column-table-name'>Name:</label>
            <input id='rename-column-table-name' style="margin-left: 34px; width: 250px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for="rename-column-name">Column:</label>
            <select id="rename-column-name" style="margin-left: 24px; width: 250px;"></select>
        </div>
        <div style="line-height: 30px;">
            <label for='rename-column-new-name'>New Name:</label>
            <input id='rename-column-new-name' style="margin-left: 4px; width: 250px;" />
        </div>
    	<script type="text/javascript">
    		var queryString = window.location.search;
			var params = new URLSearchParams(queryString);
			var tableName = params.get('name');
			var schemaName = params.get('schemaName');

            $j('#rename-column-table-owner').val(schemaName);
            $j('#rename-column-table-name').val(tableName);

            var dbSQL = null;
            var dbTable = new DatabaseEditableTable(tableName);

            dbTable.addColumnsListAvailableEventListener(onColumnsListAvailable);
            dbTable.getColumnsList(null);

            function onColumnsListAvailable(result, source) {
                result.forEach(function(column) {
                    $j('#rename-column-name').append('<option>' + column + '</option>');
                });
            }

            function applyAndClose() {
                var existingColumnName = $j('#rename-column-name').val();
                var newColumnName = $j('#rename-column-new-name').val();

                if(newColumnName === null || newColumnName === undefined || newColumnName === '') {
                    w2alert('New Column name field can not be empty!');
                } else {
                    var sql = 'ALTER TABLE ' + schemaName + '.' + tableName + ' RENAME COLUMN ' + existingColumnName + ' TO ' + newColumnName + ';';
                    dbSQL = new DatabaseSQL();
                    dbSQL.addSQLSuccessEventListener(onSQLSuccess);
                    dbSQL.addSQLErrorEventListener(onSQLError);

                    w2popup.lock('Renaming column...', true);
                    dbSQL.execute_sql(sql);
                }
            }

            function onSQLSuccess() {
                w2popup.unlock();
                w2alert('Column renamed successfully!')
                    .done(function() {
                        dbSQL.destroy();
                        w2popup.close();
                    });
            }

            function onSQLError(result) {
                w2popup.unlock();
                w2alert('Error while renaming column: ' + result);
                dbSQL.destroy();
            }
    	</script>
    </div>
    <div rel="buttons">
        <button class="w2ui-btn" onclick="applyAndClose()">Apply</button>
        <button class="w2ui-btn" onclick="w2popup.close()">Close</button>
    </div>
</div>