<div id="statistics-gather-action-popup" style="width: 360px; height: 260px;">
    <div rel="title">
        Gather Statistics
    </div>
    <div rel="body" style="padding: 5px; width: 100%; height: 100%">
        <div style="line-height: 30px;">
            <label for='statistics-gather-table-owner'>Owner:</label>
            <input id='statistics-gather-table-owner' style="margin-left: 66px; width: 200px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='statistics-gather-table-name'>Name:</label>
            <input id='statistics-gather-table-name' style="margin-left: 71px; width: 200px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for="statistics-gather-table-sample-percent">Sample Percent:</label>
            <select id='statistics-gather-table-sample-percent' style="margin-left: 13px; width: 200px;">
                <option>1</option>
                <option>5</option>
                <option>10</option>
                <option>15</option>
                <option>20</option>
                <option>25</option>
                <option>30</option>
                <option>35</option>
                <option>40</option>
                <option>45</option>
                <option>100</option>
            </select>
        </div>
        <div style="line-height: 30px;">
            Confirm gather table statistics?
        </div>
    	<script type="text/javascript">
    		var queryString = window.location.search;
			var params = new URLSearchParams(queryString);
			var tableName = params.get('name');
			var schemaName = params.get('schemaName');

            $j('#statistics-gather-table-owner').val(schemaName);
            $j('#statistics-gather-table-name').val(tableName);

            var dbSQL = null;

            function applyAndClose() {
                var percent = $j('#statistics-gather-table-sample-percent').val();

                var sql = `
                    begin 
                        DBMS_STATS.GATHER_TABLE_STATS (
                          ownname => '` + schemaName + `',
                          tabname => '` + tableName + `',
                          estimate_percent => ` + percent + `
                          );
                    end;
                `;
                dbSQL = new DatabaseSQL();
                dbSQL.addSQLSuccessEventListener(onSQLSuccess);
                dbSQL.addSQLErrorEventListener(onSQLError);

                w2popup.lock('Gathering stats...', true);
                dbSQL.execute_sql(sql);
            }

            function onSQLSuccess() {
                w2popup.unlock();
                w2alert('Stats gathered successfully!')
                    .done(function() {
                        dbSQL.destroy();
                        w2popup.close();
                    });
            }

            function onSQLError(result) {
                w2popup.unlock();
                w2alert('Error while gathering stats: ' + result);
                dbSQL.destroy();
            }
    	</script>
    </div>
    <div rel="buttons">
        <button class="w2ui-btn" onclick="applyAndClose()">Apply</button>
        <button class="w2ui-btn" onclick="w2popup.close()">Close</button>
    </div>
</div>