/*************************************
 * CSS classes for designer
 * Author: Ajeet Singh
 * Date: 25-Aug-2019
 * ***********************************/
.canvas {
	height:700px;
        width: 800px;
        border: 1px grey solid;
        background-image: url('images/grid.gif');
}
.ui-selecting{
        background: lightblue !important;
}
.ui-selected{
        height: 82px;
        width: 122px;
        background: transparent;
        border: 2px #00BFFF dashed !important;
        padding: 0px;
        position: relative;
}
.adorner-invisible{
        height: 82px;
        width: 122px;
        background: transparent;
        border: 2px transparent solid;
        padding: 10px;
        position: relative;
}
.ui-draggable{

}
.adorner-line-unselected {
	display: none;
        fill: #00BFFF;
        stroke-width: 1px;
}
.node_header{
        border-bottom: 1px darkgrey solid;
        opacity: .8;
}
.node{
        text-align: center;
        /*margin-top: 10px;
        margin-left: 10px;*/
        height: 100%;
        width: 100%;
        background: lightgrey;
        border: 1px solid grey !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	z-index: 9999;
}
.port {
	text-align: center;
	background: #EF9A9A;
	border: 1px black solid;
	position: absolute;
	height: 10px;
	width: 10px;
	border-radius: 3px;
}
.tl_adorner{
        margin-top: -15px;
        margin-left: -15px;
	position: absolute;
	background: #00BFFF;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	display: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tr_adorner {
        position: absolute;
        right: 0px;
        margin-top: -15px;
        margin-right: -6px;
        background: #00BFFF;
        height: 10px;
        width: 10px;
	border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: none;
}
.bl_adorner {
        position: absolute;
        bottom: 0px;
        margin-bottom: -5px;
        margin-left: -15px;
        background: #00BFFF;
        height: 10px;
        width: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: none;
	border-radius: 5px;
}
.br_adorner {
        position: absolute;
        bottom: 0px;
        right: 0px;
        margin-right: -5px;
        margin-bottom: -5px;
        background: #D1C4E9;
        height: 10px;
        width: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: none;
	border-radius: 5px;
        cursor: nwse-resize;
}
.tm_adorner {
        position: absolute;
        background: #00BFFF;
        height: 10px;
        width: 10px;
        left: 50%;
        margin-top: -16px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: none;
	border-radius: 5px;
}
.lm_adorner {
        position: absolute;
        background: #00BFFF;
        height: 10px;
        width: 10px;
        top: 50%;
        margin-left: -16px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: none;
	border-radius: 5px;
}
.bm_adorner {
        position: absolute;
        background: #00BFFF;
        height: 10px;
        width: 10px;
        bottom: 0px;
        left: 50%;
        margin-bottom: -5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: none;
	border-radius: 5px;
}
.rm_adorner {
        position: absolute;
        background: #00BFFF;
        height: 10px;
        width: 10px;
        right: 0px;
        top: 50%;
        margin-right: -6px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: none;
	border-radius: 5px;
}
.rotate_adorner {
	      position: absolute;
	      background: transparent;
	      background-image: url('images/handle-rotate.png');
	      display: none;
}
.line_rotate_adorner{

}
