<div id="table-edit-popup" style="width: 380px; height: 200px;">
    <div rel="title">
        Comment Table
    </div>
    <div rel="body" style="padding: 5px; width: 100%; height: 100%">
        <div style="line-height: 30px;">
            <label for='comment-table-owner'>Owner:</label>
            <input id='comment-table-owner' style="margin-left: 30px; width: 250px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='comment-table-name'>Name:</label>
            <input id='comment-table-name' style="margin-left: 34px; width: 250px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='comment-table'>Comment:</label>
            <input id="comment-table" style="margin-left: 11px; width: 250px;" />
        </div>
    	<script type="text/javascript">
    		var queryString = window.location.search;
			var params = new URLSearchParams(queryString);
			var tableName = params.get('name');
			var schemaName = params.get('schemaName');

            $j('#comment-table-owner').val(schemaName);
            $j('#comment-table-name').val(tableName);
    	</script>
    </div>
    <div rel="buttons">
        <button class="w2ui-btn" onclick="w2popup.close()">Apply</button>
        <button class="w2ui-btn" onclick="w2popup.close()">Close</button>
    </div>
</div>