<div id="table-logging-action-popup" style="width: 380px; height: 250px;">
    <div rel="title">
        Logging Table
    </div>
    <div rel="body" style="padding: 5px; width: 100%; height: 100%">
        <div style="line-height: 30px;">
            <label for='logging-table-owner'>Owner:</label>
            <input id='logging-table-owner' style="margin-left: 30px; width: 250px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='logging-table-name'>Name:</label>
            <input id='logging-table-name' style="margin-left: 34px; width: 250px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='logging-table-logging'>Logging:</label>
            <select id="logging-table-logging" style="margin-left: 23px; width: 250px;">
                <option>LOGGING</option>
                <option>NOLOGGING</option>
            </select>
        </div>
        <div style="line-height: 30px;">
            Change logging status of selected table? 
        </div>
    	<script type="text/javascript">
    		var queryString = window.location.search;
			var params = new URLSearchParams(queryString);
			var tableName = params.get('name');
			var schemaName = params.get('schemaName');

            $j('#logging-table-owner').val(schemaName);
            $j('#logging-table-name').val(tableName);

            var dbSQL = null;

            function applyAndClose() {
                var logging = $j('#logging-table-logging').val();

                var sql = 'ALTER TABLE ' + schemaName + '.' + tableName + ' '  + logging + ';';
                dbSQL = new DatabaseSQL();
                dbSQL.addSQLSuccessEventListener(onSQLSuccess);
                dbSQL.addSQLErrorEventListener(onSQLError);

                w2popup.lock('Setting up logging option on table...', true);
                dbSQL.execute_sql(sql);
            }

            function onSQLSuccess() {
                w2popup.unlock();
                w2alert('Logging option set successfully!')
                    .done(function() {
                        dbSQL.destroy();
                        w2popup.close();
                    });
            }

            function onSQLError(result) {
                w2popup.unlock();
                w2alert('Error while setting up logging option on table: ' + result);
                dbSQL.destroy();
            }
    	</script>
    </div>
    <div rel="buttons">
        <button class="w2ui-btn" onclick="applyAndClose()">Apply</button>
        <button class="w2ui-btn" onclick="w2popup.close()">Close</button>
    </div>
</div>