<div id="table-logging-action-popup" style="width: 380px; height: 250px;">
    <div rel="title">
        Logging Table
    </div>
    <div rel="body" style="padding: 5px; width: 100%; height: 100%">
        <div style="line-height: 30px;">
            <label for='logging-table-owner'>Owner:</label>
            <input id='logging-table-owner' style="margin-left: 30px; width: 250px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='logging-table-name'>Name:</label>
            <input id='logging-table-name' style="margin-left: 34px; width: 250px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='logging-table-logging'>Logging:</label>
            <select id="logging-table-logging" style="margin-left: 23px; width: 250px;">
                <option>LOGGING</option>
                <option>NOLOGGING</option>
            </select>
        </div>
        <div style="line-height: 30px;">
            Change logging status of selected table? 
        </div>
    	<script type="text/javascript">
    		var queryString = window.location.search;
			var params = new URLSearchParams(queryString);
			var tableName = params.get('name');
			var schemaName = params.get('schemaName');

            $j('#logging-table-owner').val(schemaName);
            $j('#logging-table-name').val(tableName);
    	</script>
    </div>
    <div rel="buttons">
        <button class="w2ui-btn" onclick="w2popup.close()">Apply</button>
        <button class="w2ui-btn" onclick="w2popup.close()">Close</button>
    </div>
</div>