<div id="table-new-popup" style="width: 900px; height: 800px;">
    <div rel="title">
        New Table
    </div>
    <div rel="body" style="padding: 5px; width: 100%; height: 100%">
        <div id="table-new-layout" style="width: 100%; height: 100%"></div>
        <script>
			// $j(document).ready(function() {
				var queryString = window.location.search;
				var params = new URLSearchParams(queryString);
				var tableName = params.get('name');
				var schemaName = params.get('schemaName');
				var pstyle = 'border: 1px solid #dfdfdf; padding: 5px;';
				var sqlTotalCount = 0;
				var sqlSuccessCount = 0;
				var sqlArray = [];
				var error = false;

				$j("#table-new-layout").w2layout({
					name: 'table-new-layout',
			        padding: 4,
			        panels: [
			            { type: 'top', size: 90, resizable: false, style: pstyle, content: 'top' },
			            { type: 'left', size: 200, resizable: true, style: pstyle, content: 'left' },
			            { type: 'main', style: pstyle, content: 'main' }
			        ]
				});
				
				var mainHtml = `
					<div id='table-new-sidebar-columns-panel' class='sidebar_panel display_sidebar_panel'>Columns</div>
					<div id='table-new-sidebar-constraints-panel' class='sidebar_panel'>Constraints</div>
					<div id='table-new-sidebar-indexes-panel' class='sidebar_panel'>Indexes</div>
					<div id='table-new-sidebar-storage-panel' class='sidebar_panel'>Storage</div>
					<div id='table-new-sidebar-comments-panel' class='sidebar_panel'>Comments</div>
					<div id='table-new-sidebar-ddl-panel' class='sidebar_panel'>DDL</div>
				`;
				w2ui['table-new-layout'].content('main', mainHtml);

				var topHtml = `
					<div style='float: left'>
						<table>
							<tr>
								<td>Schema:</td>
								<td><input id='table-new-text-schema-name' size='80px' value='` + schemaName + `' disabled /></td>
							</tr>
							<tr>
								<td>Name:</td>
								<td><input id='table-new-text-name' size='80px' value='` + tableName+ `' /></td>
							</tr>
							<tr>
								<td>Table Type:</td>
								<td>
									<select id='table-new-table-type-select' style='width: 593px;'>
										<option>Temporary (Transaction)</option>
										<option>Temporary (Session)</option>
										<option>Index Organized</option>
										<option>External</option>
										<option>Partitioned</option>
										<option>Nested</option>
										<option selected>Normal</option>
									</select>
								</td>
							</tr>
						</table>
					</div>
					<div style="float: right; margin-top: 15px;">
						<img src='/static/icons/header/database.png' />
					</div>
				`;
				w2ui["table-new-layout"].content('top', topHtml);

				var columnsPanel = new NewTableColumnsPanelUI('table-new-sidebar-columns-panel', tableName, schemaName);
				columnsPanel.addColumnSelectedEventListener(onColumnSelected);
				columnsPanel.addComplexTypeSchemaChangedEventListener(onComplexTypeSchemaChanged);
				columnsPanel.addIdentityColumnSchemaChangedEventListener(onIdentityColumnSchemaChanged);

				var constraintsPanel = new NewTableConstraintsPanelUI('table-new-sidebar-constraints-panel', tableName);
				// constraintsPanel.addConstraintSelectedEventListener(onConstraintSelected);
				// constraintsPanel.addSchemaChangedEventListener(onConstraintSchemaChanged);
				// constraintsPanel.addTableChangedEventListener(onConstraintTableChanged);
				// constraintsPanel.addRefConstraintChangedEventListener(onRefConstraintChanged);

				var indexesPanel = new NewTableIndexesPanelUI('table-new-sidebar-indexes-panel', tableName, schemaName);
				// indexesPanel.addIndexSelectedEventListener(onIndexSelected);
				// indexesPanel.addIndexTypeSchemaChangedEventListener(onIndexTypeSchemaChanged);

				var storagePanel = new NewTableStoragePanelUI('table-new-sidebar-storage-panel', tableName);
				var commentsPanel = new NewTableCommentsPanelUI('table-new-sidebar-comments-panel', tableName);
				var ddlPanel = new NewTableDDLPanelUI('table-new-sidebar-ddl-panel', tableName);

				var dbTable = new DatabaseEditableTable(tableName);
				dbTable.addTriggersListAvailableEventListener(onTriggersListAvailable);
				dbTable.addSchemasListAvailableEventListener(onSchemasListAvailable);
				dbTable.addSequencesListAvailableEventListener(onSequencesListAvailable);
				dbTable.addTypesListAvailableEventListener(onTypesListAvailable);
				dbTable.addConstraintsAvailableEventListener(onConstraintsAvailable);
				dbTable.addTablesListAvailableEventListener(onTablesListAvailable);
				dbTable.addRefConstraintsListAvailableEventListener(onRefConstraintsListAvailable);
				dbTable.addColumnsListAvailableEventListener(onColumnsListAvailable);
				dbTable.addAssociationAvailableEventListener(onAssociationAvailable);
				dbTable.addConstraintColumnsAvailableEventListener(onConstraintColumnsAvailable);
				dbTable.addIndexesListAvailableEventListener(onIndexesListAvailable);
				dbTable.addIndexExpressionAvailableEventListener(onIndexExpressionAvailable);
				dbTable.addIndexTypesListAvailableEventListener(onIndexTypesListAvailable);
				dbTable.addTablespacesListAvailableEventListener(onTablespacesListAvailable);

				var dbSQL = new DatabaseSQL();
				dbSQL.addSQLSuccessEventListener(onSQLSuccess);
				dbSQL.addSQLErrorEventListener(onSQLError);

				w2ui["table-new-layout"].content('left', $j().w2sidebar({
					name: 'table-new-sidebar',
					topHTML    : '<div style="background-color: #eee; padding: 10px 5px; border-bottom: 1px solid silver">Options</div>',
					nodes: [
						{id: 'table-new-sidebar-columns', text: 'Columns', icon: 'column_icon'},
						{id: 'table-new-sidebar-constraints', text: 'Constraints', icon: 'constraint_icon'},
						{id: 'table-new-sidebar-indexes', text: 'Indexes', icon: 'index_icon'},
						{id: 'table-new-sidebar-storage', text: 'Storage', icon: 'storage_icon'},
						{id: 'table-new-sidebar-comments', text: 'Comments', icon: 'comment_icon'},
						{id: 'table-new-sidebar-ddl', text: 'DDL', icon: 'ddl_icon'}
					],
					onClick: function(event) {
						var id = event.target;
						w2ui['table-new-sidebar'].nodes.forEach(function(node) {
							$j('#' +node.id + '-panel').removeClass('display_sidebar_panel');
						});
						$j('#' + id + '-panel').addClass('display_sidebar_panel');

						if(id === 'table-new-sidebar-constraints') {
							if(!constraintsPanel.isPanelCreated()) {
								// dbTable.getColumnsList('constraintsPanel');
								constraintsPanel.createPanel();
								dbTable.getSchemasList('constraintsPanel');
								dbTable.getIndexesList('constraintsPanel');
							} else {
								constraintsPanel.refresh();
							}
						} if(id === 'table-new-sidebar-indexes') {
							if(!indexesPanel.isPanelCreated()) {
								// dbTable.getColumnsList('indexesPanel');
								indexesPanel.createPanel();
								dbTable.getIndexesList('indexesPanel');
								dbTable.getSchemasList('indexesPanel');
								dbTable.getTablespacesList('indexesPanel');
							} else {
								indexesPanel.refresh();
							}
						} if(id === 'table-new-sidebar-storage') {
							if(!storagePanel.isPanelCreated()) {
								storagePanel.createPanel();
								dbTable.getTablespacesList('storagePanel');
							} else {
								storagePanel.refresh();
							}
						} if(id === 'table-new-sidebar-comments') {
							if(!commentsPanel.isPanelCreated()) {
								commentsPanel.createPanel();
							} else {
								commentsPanel.refresh();
							}
						} if(id === 'table-new-sidebar-ddl') {
							if(!ddlPanel.isPanelCreated()) {								
								var ddlArray = [];
								// ddlArray = ddlArray.concat(columnsPanel.getChanges());
								// ddlArray = ddlArray.concat(constraintsPanel.getChanges());
								// ddlArray = ddlArray.concat(indexesPanel.getChanges());
								// ddlArray = ddlArray.concat(storagePanel.getChanges());
								// ddlArray = ddlArray.concat(commentsPanel.getChanges());
								ddlPanel.createPanel(ddlArray);
								// var ddl = '';
								// ddlArray.forEach(function(text) {
								// 	ddl += text + '\n\n';
								// });
								// ddlPanel.setDDL(ddl);
							} else {
								var ddlArray = [];
								// ddlArray = ddlArray.concat(columnsPanel.getChanges());
								// ddlArray = ddlArray.concat(constraintsPanel.getChanges());
								// ddlArray = ddlArray.concat(indexesPanel.getChanges());
								// ddlArray = ddlArray.concat(storagePanel.getChanges());
								// ddlArray = ddlArray.concat(commentsPanel.getChanges());
								// var ddl = '';
								// ddlArray.forEach(function(text) {
								// 	ddl += text + '\n\n';
								// });
								// ddlPanel.setDDL(ddl);
								ddlPanel.refresh(ddlArray);
							}
						} else if(id === 'table-new-sidebar-columns') {
							columnsPanel.refresh();
						}
					}
				}));
				w2ui['table-new-sidebar'].select('table-new-sidebar-columns');
				// dbTable.getTableType();

				if(!columnsPanel.isPanelCreated()) {
					columnsPanel.createPanel();
					dbTable.getTriggersList();
					dbTable.getSchemasList('columnPanel');
					dbTable.getSequencesList(schemaName);
					dbTable.getTypesList('SYS');
				}

				function onColumnSelected(columnName) {
					if(columnsPanel.isConstraintsGridCreated()) {
					}
					if(columnsPanel.isIndexesGridCreated()) {
					}
				}

				function onTriggersListAvailable(result) {
					columnsPanel.populateTriggersList(result);
				}

				function onSchemasListAvailable(result, source) {
					if(source === 'columnPanel') {
						columnsPanel.populateComplexSchemaList(result);
						columnsPanel.populateSequenceSchemasList(result);
					} else if(source === 'constraintsPanel') {
						constraintsPanel.populateReferencedSchemasList(result);
					} else if(source === 'indexesPanel') {
						indexesPanel.populateIndexTypeSchemasList(result);
					}
				}

				function onSequencesListAvailable(result) {
					columnsPanel.populateSequencesList(result);
				}

				function onTypesListAvailable(result) {
					columnsPanel.populateComplexTypesList(result);
				}

				function onComplexTypeSchemaChanged(schemaName) {
					dbTable.getTypesList(schemaName);
				}

				function onIdentityColumnSchemaChanged(schemaName) {
					dbTable.getSequencesList(schemaName);
				}

				function onConstraintsAvailable(result) {
					constraintsPanel.loadData(result);
				}

				function onConstraintSelected(constraintName, constraintType) {
					if(constraintType === 'P' || constraintType === 'U') {
						dbTable.getConstraintColumns(constraintName);
					}
				}

				function onConstraintSchemaChanged(schemaName) {
					dbTable.getTablesList(schemaName);
				}

				function onConstraintTableChanged(tableName) {
					dbTable.getRefConstraintsList(tableName);
				}

				function onRefConstraintChanged(constraintName, refConstraintName) {
					dbTable.getAssociation(constraintName, refConstraintName);
					constraintsPanel.getAssociationsGrid().lock('Reading associations...', true);
				}

				function onTablesListAvailable(result) {
					constraintsPanel.populateReferencedTablesList(result);
				}

				function onRefConstraintsListAvailable(result) {
					constraintsPanel.populateReferencedConstraintsList(result);
				}

				function onColumnsListAvailable(result, source) {
					if(source === 'constraintsPanel') {
						// constraintsPanel.populateColumnsList(result);
						// constraintsPanel.createPanel();
						// dbTable.getConstraints();
						// constraintsPanel.getConstraintsGrid().lock('Reading Constraints...', true);
						// dbTable.getSchemasList('constraintsPanel');
						// dbTable.getIndexesList('constraintsPanel');
					} else if(source === 'indexesPanel') {
						// indexesPanel.populateColumnsList(result);
						// indexesPanel.createPanel();
						// dbTable.getIndexesList('indexesPanel');
						// dbTable.getSchemasList('indexesPanel');
						// dbTable.getTablespacesList('indexesPanel');
					}
				}

				function onAssociationAvailable(result) {
					if(constraintsPanel.isAssociationsGridCreated()) {
						constraintsPanel.populateAssociationGrid(result);
					}
				}

				function onConstraintColumnsAvailable(result) {
					constraintsPanel.populateConstraintColumns(result);
				}

				function onIndexesListAvailable(result, source) {
					if(source === 'indexesPanel') {
						indexesPanel.populateIndexesList(result);
						indexesPanel.selectIndex(0);
					} else if(source === 'constraintsPanel') {
						constraintsPanel.populateIndexesList(result);
					}
				}

				function onIndexSelected(indexName) {
					dbTable.getIndexExpression(indexName);
					indexesPanel.getExpressionsGrid().lock('Reading Expressions...', true);
				}

				function onIndexExpressionAvailable(result) {
					indexesPanel.populateExpressionGrid(result);
				}

				function onIndexTypeSchemaChanged(schemaName) {
					dbTable.getIndexTypesList(schemaName);
				}

				function onIndexTypesListAvailable(result) {
					indexesPanel.populateIndexTypesList(result);
				}

				function onTablespacesListAvailable(result, source) {
					if(source === 'indexesPanel') {
						indexesPanel.populateTablespacesList(result);
					} else if(source === 'storagePanel') {
						storagePanel.populateTablespacesList(result);
					}
				}

				function onSQLSuccess() {
					sqlSuccessCount = sqlSuccessCount + 1;
					if(sqlTotalCount === sqlSuccessCount) {
						destroy();
						w2popup.close();
					}
				}

				function onSQLError(result) {
					error = true;
					w2alert(result);
				}

				function apply_and_close_dialog() {
					var columnsPanelDDLArray = columnsPanel.getChanges();
					var constraintsPanelDDLArray = constraintsPanel.getChanges();
					var indexesPanelDDLArray = indexesPanel.getChanges();
					var storagePanelDDLArray = storagePanel.getChanges();
					var commentsPanelDDLArray = commentsPanel.getChanges();
					sqlArray.clear();
					sqlArray = sqlArray.concat(columnsPanelDDLArray);
					sqlArray = sqlArray.concat(constraintsPanelDDLArray);
					sqlArray = sqlArray.concat(indexesPanelDDLArray);
					sqlArray = sqlArray.concat(storagePanelDDLArray);
					sqlArray = sqlArray.concat(commentsPanelDDLArray);
					//if we had previous successfull execution of some statements
					//remove those from the array
					if(sqlSuccessCount > 0) {						
						sqlArray.splice(0, sqlSuccessCount);
					}
					sqlSuccessCount = 0;
					sqlTotalCount = sqlArray.length;
					if(sqlTotalCount <= 0) {
						destroy();
						w2popup.close();
					}
					error = false;
					sqlArray.forEach(function(sql) {
						if(!error) {
							dbSQL.execute_sql(sql);
						}
					});
				}

				function close_dialog() {
					destroy(); 
					w2popup.close();
				}

				function destroy() {
					w2ui['table-new-layout'].destroy();
					w2ui['table-new-sidebar'].destroy();
					columnsPanel.destroy();
					constraintsPanel.destroy();
					indexesPanel.destroy();
					storagePanel.destroy();
					commentsPanel.destroy();
					ddlPanel.destroy();
					dbSQL.destroy();
				}
			// });
		</script>
    </div>
    <div rel="buttons">
    	<button class="w2ui-btn" onclick="apply_and_close_dialog()">Apply</button>
        <button class="w2ui-btn" onclick="close_dialog()">Close</button>
    </div>
</div>
