<div id="table-no-parallel-action-popup" style="width: 380px; height: 200px;">
    <div rel="title">
        No Parallel Table
    </div>
    <div rel="body" style="padding: 5px; width: 100%; height: 100%">
        <div style="line-height: 30px;">
            <label for='no-parallel-table-owner'>Owner:</label>
            <input id='no-parallel-table-owner' style="margin-left: 30px; width: 250px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='no-parallel-table-name'>Name:</label>
            <input id='no-parallel-table-name' style="margin-left: 34px; width: 250px;" disabled />
        </div>
        <div style="line-height: 30px;">
            Alter selected table and set no parallel? 
        </div>
    	<script type="text/javascript">
    		var queryString = window.location.search;
			var params = new URLSearchParams(queryString);
			var tableName = params.get('name');
			var schemaName = params.get('schemaName');

            $j('#no-parallel-table-owner').val(schemaName);
            $j('#no-parallel-table-name').val(tableName);

            var dbSQL = null;

            function applyAndClose() {

                var sql = 'ALTER TABLE ' + schemaName + '.' + tableName + ' NOPARALLEL'  + ';';
                dbSQL = new DatabaseSQL();
                dbSQL.addSQLSuccessEventListener(onSQLSuccess);
                dbSQL.addSQLErrorEventListener(onSQLError);

                w2popup.lock('Setting up no parallel option on table...', true);
                dbSQL.execute_sql(sql);
            }

            function onSQLSuccess() {
                w2popup.unlock();
                w2alert('No Parallel option set successfully!')
                    .done(function() {
                        dbSQL.destroy();
                        w2popup.close();
                    });
            }

            function onSQLError(result) {
                w2popup.unlock();
                w2alert('Error while setting up no parallel option on table: ' + result);
                dbSQL.destroy();
            }
    	</script>
    </div>
    <div rel="buttons">
        <button class="w2ui-btn" onclick="applyAndClose()">Apply</button>
        <button class="w2ui-btn" onclick="w2popup.close()">Close</button>
    </div>
</div>