/*************************************
 * CSS classes for designer
 * Author: Ajeet Singh
 * Date: 25-Aug-2019
 * ***********************************/
.canvas-container {
    height: 100% !important;
    width: 100% !important;
}
.canvas {
	height: 100% !important;
    width: 100% !important;
        max-width: 100%;
        background-image: url('../images/grid.gif');
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	top:0;
	bottom:0;
	right:0;
	left:0;
}
.toolbox {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.toolbox th {
        background: #007e90;
        color: white;
        font: .6em arial, sans-serif;
}
.middle {
  width: 100%;
  text-align: center;
}
.middle input[type="radio"] {
  display: none;
}
.middle input[type="radio"]:checked + .tool-button{
        background: #007e90;
}
.middle .tool-button {
        height: 50px;
        width: 50px;
        border-style: outline;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background: white;
        color: black;
        border-radius: 5px;
        margin: 5px;
}
.ui-selecting{
        background: lightblue !important;
}
.ui-selected{
        height: 82px;
        width: 122px;
        background: transparent;
        border: 2px #00BFFF dashed !important;
        padding: 0px;
        position: relative;
}
.adorner-invisible{
        height: 82px;
        width: 122px;
        background: transparent;
        border: 2px transparent solid;
        padding: 10px;
        position: relative;
}
.ui-draggable{

}
.adorner-line-unselected {
	display: none;
        fill: #00BFFF;
        stroke-width: 1px;
}
.node_header{
        border-bottom: 1px darkgrey solid;
        opacity: .8;
}
.node{
        text-align: center;
        /*margin-top: 10px;
        margin-left: 10px;*/
        height: 100%;
        width: 100%;
        background: lightgrey;
        border: 1px solid grey !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	z-index: 9999;
}
.port {
	text-align: center;
	background: #EF9A9A;
	border: 1px black solid;
	position: absolute;
	height: 10px;
	width: 10px;
	border-radius: 3px;
}
.tl_adorner{
        margin-top: -15px;
        margin-left: -15px;
	position: absolute;
	background: #00BFFF;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	display: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tr_adorner {
        position: absolute;
        right: 0px;
        margin-top: -15px;
        margin-right: -6px;
        background: #00BFFF;
        height: 10px;
        width: 10px;
	border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: none;
}
.bl_adorner {
        position: absolute;
        bottom: 0px;
        margin-bottom: -5px;
        margin-left: -15px;
        background: #00BFFF;
        height: 10px;
        width: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: none;
	border-radius: 5px;
}
.br_adorner {
        position: absolute;
        bottom: 0px;
        right: 0px;
        margin-right: -5px;
        margin-bottom: -5px;
        background: #D1C4E9;
        height: 10px;
        width: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: none;
	border-radius: 5px;
        cursor: nwse-resize;
}
.tm_adorner {
        position: absolute;
        background: #00BFFF;
        height: 10px;
        width: 10px;
        left: 50%;
        margin-top: -16px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: none;
	border-radius: 5px;
}
.lm_adorner {
        position: absolute;
        background: #00BFFF;
        height: 10px;
        width: 10px;
        top: 50%;
        margin-left: -16px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: none;
	border-radius: 5px;
}
.bm_adorner {
        position: absolute;
        background: #00BFFF;
        height: 10px;
        width: 10px;
        bottom: 0px;
        left: 50%;
        margin-bottom: -5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: none;
	border-radius: 5px;
}
.rm_adorner {
        position: absolute;
        background: #00BFFF;
        height: 10px;
        width: 10px;
        right: 0px;
        top: 50%;
        margin-right: -6px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: none;
	border-radius: 5px;
}
.rotate_adorner {
        position: absolute;
        background: transparent;
        background-image: url('images/handle-rotate.png');
        display: none;
}
.line_rotate_adorner{
        display: none;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  /*padding: 18px;*/
  width: 60px;
  text-align: center;
  outline: none;
  transition: 0.4s;
  font-family: sans-serif !important;
  font-size: .6em !important;
  overflow: hidden;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  /*padding: 0 18px;*/
  background-color: white;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-out;
}

/* Scroll bar style */
.scroll::-webkit-scrollbar {
    width: 3px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1.5px rgba(0,0,0,0.3);
    -webkit-border-radius: 2.5px;
    border-radius: 2.5px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2.5px;
    border-radius: 2.5px;
    background: rgba(192,192,192,0.8);
    -webkit-box-shadow: inset 0 0 1.5px rgba(0,0,0,0.5);
}
.scroll::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(192,192,192,0.4);
}

/* Style buttons */
.node_toolbar_left_btn {
  font-size: 8px !important;
  margin-left: 2px;
  margin-top: 3px;
  vertical-align: top;
}

.node_toolbar_right_btn {
  font-size: 8px !important;
  margin-right: 2px;
  margin-top: 3px;
  vertical-align: top;
  float: right;
}

/* Darker background on mouse-over */
/*.node_toolbar_btn:hover {
  background-color: RoyalBlue;
}*/

.node_toolbar {
    height: 20px;
    width: 100%;
    border-bottom: 1px solid #99bbe8;
    background-color: transparent;
    background-image: linear-gradient(#dae6f3, #c2d5ed);
}

.node_table {
    border-bottom: 1px solid #c5c5c5;
    width: 100%;
    border-collapse: collapse;
}

.node_table_header {
    background-color: transparent;
    background-image: linear-gradient(#f9f9f9, #e4e4e4);
    text-align: left;
    font-family: sans-serif;
    font-size: 0.7em;
    border: 1px solid #c5c5c5;
}

.node_table_row:nth-child(even) {
    background-color: #f3f6fa;
}

.node_table_row:hover {
    background-color: #e6f0ff;
}

.node_table_row_clicked {
    background-color: #b6d5ff !important;
}

.node_table_cell {
    text-align: left;
    font-family: sans-serif;
    font-size: 0.7em;
    border-left: 1px solid #c5c5c5;
}

.nodes_icon {
    content:url('/static/icons/class_diagram.png');
}

.edges_icon {
    content:url('/static/icons/association1MD.png');
}

.tables_folder_icon {
    background: url('/static/icons/folder.png');
    background-repeat: no-repeat;
}

.tables_folder_icon::after {
    content: url('/static/icons/table.png');
    position: relative;
    top: 4px;
    left: 4px;
}

.table_icon {
    content: url('/static/icons/table.png')
}

.views_folder_icon {
    background: url('/static/icons/folder.png');
    background-repeat: no-repeat;
}

.views_folder_icon::after {
    content: url('/static/icons/view.png');
    position: relative;
    top: 4px;
    left: 4px;
}

.view_icon {
    content: url('/static/icons/view.png')
}

.indexes_folder_icon {
    background: url('/static/icons/folder.png');
    background-repeat: no-repeat;
}

.indexes_folder_icon::after {
    content: url('/static/icons/index.png');
    position: relative;
    top: 4px;
    left: 4px;
}

.index_icon {
    content: url('/static/icons/index.png')
}

.mview_folder_icon {
    background: url('/static/icons/folder.png');
    background-repeat: no-repeat;
}

.mview_folder_icon::after {
    content: url('/static/icons/materialized_view.png');
    position: relative;
    top: 4px;
    left: 4px;
}

.mview_icon {
    content: url('/static/icons/materialized_view.png')
}

.procedure_folder_icon {
    background: url('/static/icons/folder.png');
    background-repeat: no-repeat;
}

.procedure_folder_icon::after {
    content: url('/static/icons/plsql_proc.png');
    position: relative;
    top: 4px;
    left: 4px;
}

.procedure_icon {
    content: url('/static/icons/plsql_proc.png')
}

.function_folder_icon {
    background: url('/static/icons/folder.png');
    background-repeat: no-repeat;
}

.function_folder_icon::after {
    content: url('/static/icons/plsql_function.png');
    position: relative;
    top: 4px;
    left: 4px;
}

.function_icon {
    content: url('/static/icons/plsql_function.png')
}

.package_folder_icon {
    background: url('/static/icons/folder.png');
    background-repeat: no-repeat;
}

.package_folder_icon::after {
    content: url('/static/icons/plsql_package.png');
    position: relative;
    top: 4px;
    left: 4px;
}

.package_icon {
    content: url('/static/icons/plsql_package.png')
}

.package_body_icon {
    content: url('/static/icons/packagetreeview.png')
}

.sequence_folder_icon {
    background: url('/static/icons/folder.png');
    background-repeat: no-repeat;
}

.sequence_folder_icon::after {
    content: url('/static/icons/sequence.png');
    position: relative;
    top: 4px;
    left: 4px;
}

.sequence_icon {
    content: url('/static/icons/sequence.png')
}

.synonym_folder_icon {
    background: url('/static/icons/folder.png');
    background-repeat: no-repeat;
}

.synonym_folder_icon::after {
    content: url('/static/icons/synonym.png');
    position: relative;
    top: 4px;
    left: 4px;
}

.synonym_icon {
    content: url('/static/icons/synonym.png')
}

.public_synonym_folder_icon {
    background: url('/static/icons/folder.png');
    background-repeat: no-repeat;
}

.public_synonym_folder_icon::after {
    content: url('/static/icons/publicsynonym.png');
    position: relative;
    top: 4px;
    left: 4px;
}

.public_synonym_icon {
    content: url('/static/icons/publicsynonym.png')
}

.trigger_folder_icon {
    background: url('/static/icons/folder.png');
    background-repeat: no-repeat;
}

.trigger_folder_icon::after {
    content: url('/static/icons/trigger.png');
    position: relative;
    top: 4px;
    left: 4px;
}

.trigger_icon {
    content: url('/static/icons/trigger.png')
}

.type_folder_icon {
    background: url('/static/icons/folder.png');
    background-repeat: no-repeat;
}

.type_folder_icon::after {
    content: url('/static/icons/objecttype.png');
    position: relative;
    top: 4px;
    left: 4px;
}

.type_icon {
    content: url('/static/icons/objecttype.png')
}

.queue_folder_icon {
    background: url('/static/icons/folder.png');
    background-repeat: no-repeat;
}

.queue_folder_icon::after {
    content: url('/static/icons/node_role.png');
    position: relative;
    top: 4px;
    left: 4px;
}

.queue_icon {
    content: url('/static/icons/node_role.png')
}

.dblink_folder_icon {
    background: url('/static/icons/folder.png');
    background-repeat: no-repeat;
}

.dblink_folder_icon::after {
    content: url('/static/icons/link.png');
    position: relative;
    top: 4px;
    left: 4px;
}

.dblink_icon {
    content: url('/static/icons/link.png')
}

.public_dblink_folder_icon {
    background: url('/static/icons/folder.png');
    background-repeat: no-repeat;
}

.public_dblink_folder_icon::after {
    content: url('/static/icons/publicdblink.png');
    position: relative;
    top: 4px;
    left: 4px;
}

.public_dblink_icon {
    content: url('/static/icons/publicdblink.png')
}

.directory_folder_icon {
    content: url('/static/icons/system.png')
}

.directory_icon {
    content: url('/static/icons/directorytreeview.png')
}

.database_connection_icon {
    content: url('/static/icons/dbconn.png');
}

.database_folder_icon {
    content: url('/static/icons/database.png');
}

.shuttle_right_icon {
    content: url('/static/icons/shuttle_right.png');
}

.shuttle_left_icon {
    content: url('/static/icons/shuttle_left.png');
}

.shuttle_right_all_icon {
    content: url('/static/icons/shuttle_rightall.png');
}

.shuttle_left_all_icon {
    content: url('/static/icons/shuttle_leftall.png');
}

.delete_icon {
    content: url('/static/icons/delete.png')
}

.add_icon {
    content: url('/static/icons/add.png');
}

.import_icon {
    content: url('/static/icons/import.png');
}

.export_icon {
    content: url('/static/icons/export.png');
}

.new_icon {
    content: url('/static/icons/new.png');
}

.open_icon {
    content: url('/static/icons/open.png');
}

.save_icon {
    content: url('/static/icons/saveall.png');
}

.copy_icon {
    content: url('/static/icons/copy.png');
}

.paste_icon {
    content: url('/static/icons/paste.png');
}

.undo_icon {
    content: url('/static/icons/undo.png');
}

.redo_icon {
    content: url('/static/icons/redo.png');
}

.settings_icon {
    content: url('/static/icons/settings.png');
}

.editor_settings_icon {
    content: url('/static/icons/entityObject.png');
}

.shortcut_icon {
    content: url('/static/icons/shortcut.png');
}

.info_icon {
    content: url('/static/icons/info.png');
}

.help_icon {
    content: url('/static/icons/help.png');
}

.connect_icon {
    content: url('/static/icons/navconnections.png');
}

.disconnect_icon {
    content: url('/static/icons/noaccess.png');
}

.refresh_icon {
    content: url('/static/icons/refresh.png');
}

.edit_icon {
    content: url('/static/icons/edit.png');
}

.column_icon {
    content: url('/static/icons/column.png');
}

.constraint_icon {
    content: url('/static/icons/constraint.png');
}

.storage_icon {
    content: url('/static/icons/tablespace.png');
}

.comment_icon {
    content: url('/static/icons/comment.png');
}

.ddl_icon {
    content: url('/static/icons/sqlfile.png');
}

.last_icon {
    content: url('/static/icons/last.png');
}

.bottom_icon {
    content: url('/static/icons/bottom.png');
}

.down_icon {
    content: url('/static/icons/down.png');
}

.up_icon {
    content: url('/static/icons/up.png');
}

.top_icon {
    content: url('/static/icons/top.png');
}

.expression_icon {
    content: url('/static/icons/expression.png');
}

.first_icon {
    content: url('/static/icons/first.png');
}

.foreign_key_icon {
    content: url('/static/icons/foreignkey.png');
}

.func_icon {
    content: url('/static/icons/function.png');
}

.key_icon {
    content: url('/static/icons/key.png');
}

.primary_key_icon {
    content: url('/static/icons/primarykey.png');
}

.previous_icon {
    content: url('/static/icons/previous.png');
}

.next_icon {
    content: url('/static/icons/next.png');
}

.assist_icon {
    content: url('/static/icons/assist.png');
    vertical-align: middle;
}

.bi_icon {
    content: url('/static/icons/graph.png');
}

.predefined_reports_folder_icon {
    background: url('/static/icons/folder.png');
    background-repeat: no-repeat;
}

.predefined_reports_folder_icon::after {
    content: url('/static/icons/profiler_saved_session.png');
    position: relative;
    top: 4px;
    left: 4px;
}

.predefined_report_icon {
    content: url('/static/icons/profiler_saved_session.png');
}

.custom_reports_folder_icon {
    background: url('/static/icons/folder.png');
    background-repeat: no-repeat;
}

.custom_reports_folder_icon::after {
    content: url('/static/icons/threshold.png');
    position: relative;
    top: 4px;
    left: 4px;
}

.custom_report_icon {
    content: url('/static/icons/threshold.png');
}

.warehouse_catlog_icon {
    content: url('/static/icons/catalog.png');
}

.run_icon {
    content: url('/static/icons/run.png');
}

.commit_icon {
    content: url('/static/icons/commit.png');
}

.rollback_icon {
    content: url('/static/icons/rollback.png');
}

.clear_icon {
    content: url('/static/icons/clear.png');
}

.explain_icon {
    content: url('/static/icons/explain.png');
}

.history_icon {
    content: url('/static/icons/history.png');
}

.autotrace_icon {
    content: url('/static/icons/autotrace.png');
}

.tunning_advisor_icon {
    content: url('/static/icons/tunning_advisor.png');
}

.unshared_worksheet_icon {
    content: url('/static/icons/unshared_worksheet.png');
}

.upper_lower_case_icon {
    content: url('/static/icons/upper_lower_case.png');
}

.run_script_icon {
    content: url('/static/icons/run_script.png');
}

.print_icon {
    content: url('/static/icons/print.png');
}

.compile_icon {
    content: url('/static/icons/compile.png');
}

.toggle_edit_icon {
    content: url('/static/icons/toggle_edit.png');
}

.sidebar_panel {
    width: 100%;
    height: 100%;
    display: none;
}

.display_sidebar_panel {
    display: block !important;
}

.simple_panel {
    line-height: 30px;
    display: none;
}

.display_simple_panel {
    display: block !important;
}

.data_type_panel {
    line-height: 30px;
    display: none;
}

.display_data_type_panel {
    display: block !important;
}

.constraints_panel {
    line-height: 30px;
    display: none;
}

.display_constraints_panel {
    display: block !important;
}

.identity_column_panel {
    line-height: 30px;
    display: none;
}

.display_identity_column_panel {
    display: block !important;
}

.tab_content {
    padding: 10px 2px;
    height: 84%;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    display: none;
}

.display_tab_content {
    display: block !important;
}

div.menu {
    overflow-y: visible !important;
}

.ui-tabs-panel {
    height: 94%;
    padding: 5px !important;
}

.tab_header_icon {
    float: left;
    height: 22px;
    width: 22px;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: -5px;
}

.ddl_view {
    height: 479px;
    width: 638px;
    display: none;
}

.display_ddl_view {
    display: block !important;
}

/********************************* Collapsible CSS ***********************************/
.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

.toggle {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: .9rem;
  text-transform: uppercase;
  text-align: center;

  color: #444;
  background: #c2d5ed;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #111;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: #eee;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
/*************************************************************************************/

.index_expression_grid {
    height: 83%;
    width: 100%;
}

.index_compact_expression_grid {
    height: 53%;
    width: 100%;
}

.index_domain_panel {
    display: none;
}

.display_index_domain_panel {
    display: block !important;
}

.message_popup_header {
    background-image: linear-gradient(#dae6f3,#c2d5ed); 
    height: 30px; 
    text-align: center; 
    font-size: 16px; 
    padding-top: 2px; 
    border-bottom: 1px solid #99bbe8!important;
}

.index_advance_tab_panel {
    height: 86%; 
    border-left: 1px solid lightgrey; 
    border-bottom: 1px solid lightgrey; 
    border-right: 1px solid lightgrey;
    display: none;
}

.display_index_advance_tab_panel {
    display: block !important;
}

.index_tab_panel {
    height: 75%; 
    border-left: 1px solid lightgrey; 
    border-bottom: 1px solid lightgrey; 
    border-right: 1px solid lightgrey;
    display: none;
}

.display_index_tab_panel {
    display: block !important;
}

.imagebacked {
    padding-left: 20px; /* image-width */
    background-repeat: no-repeat;
}

.trigger_panel {
    height: 60%;
    display: none;
}

.display_trigger_panel {
    display: block !important;
}