<div id="move-tablespace-table-action-popup" style="width: 350px; height: 200px;">
    <div rel="title">
        Move Tablespace
    </div>
    <div rel="body" style="padding: 5px; width: 100%; height: 100%">
        <div style="line-height: 30px;">
            <label for='move-tablespace-table-owner'>Owner:</label>
            <input id='move-tablespace-table-owner' style="margin-left: 26px; width: 230px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='move-tablespace-table-name'>Name:</label>
            <input id='move-tablespace-table-name' style="margin-left: 30px; width: 230px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for="move-tablespace-name">Tablespace:</label>
            <select id="move-tablespace-name" style="width: 230px;"></select>
        </div>
    	<script type="text/javascript">
    		var queryString = window.location.search;
			var params = new URLSearchParams(queryString);
			var tableName = params.get('name');
			var schemaName = params.get('schemaName');

            $j('#move-tablespace-table-owner').val(schemaName);
            $j('#move-tablespace-table-name').val(tableName);

            var dbSQL = null;
            var db = new Database();

            db.addTablespaceListAvailableEventListener(onTablespaceListAvailable);
            db.getTablespaceList();

            function onTablespaceListAvailable(result) {
                result.forEach(function(tablespace) {
                    $j('#move-tablespace-name').append('<option>' + tablespace + '</option>');
                });
            }

            function applyAndClose() {
                var tablespace = $j('#move-tablespace-name').val();

                var sql = 'ALTER TABLE ' + schemaName + '.' + tableName + ' MOVE TABLESPACE ' + tablespace + ';';
                dbSQL = new DatabaseSQL();
                dbSQL.addSQLSuccessEventListener(onSQLSuccess);
                dbSQL.addSQLErrorEventListener(onSQLError);

                w2popup.lock('Moving tablespace...', true);
                dbSQL.execute_sql(sql);
            }

            function onSQLSuccess() {
                w2popup.unlock();
                w2alert('Table moved to selected tablespace successfully!')
                    .done(function() {
                        dbSQL.destroy();
                        db.destroy();
                        w2popup.close();
                    });
            }

            function onSQLError(result) {
                w2popup.unlock();
                w2alert('Error while moving tablespace: ' + result);
                dbSQL.destroy();
            }
    	</script>
    </div>
    <div rel="buttons">
        <button class="w2ui-btn" onclick="applyAndClose()">Apply</button>
        <button class="w2ui-btn" onclick="db.destroy(); w2popup.close()">Close</button>
    </div>
</div>