<div id="shrink-table-action-popup" style="width: 350px; height: 230px;">
    <div rel="title">
        Gather Statistics
    </div>
    <div rel="body" style="padding: 5px; width: 100%; height: 100%">
        <div style="line-height: 30px;">
            <label for='shrink-table-owner'>Owner:</label>
            <input id='shrink-table-owner' style="margin-left: 5px; width: 250px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='shrink-table-name'>Name:</label>
            <input id='shrink-table-name' style="margin-left: 9px; width: 250px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <input type="checkbox" id="shrink-table-compact" style="margin-left: 55px;">Compact</input>
        </div>
        <div style="line-height: 30px;">
            <input type="checkbox" id="shrink-table-cascade" style="margin-left: 55px;">Cascade</input>
        </div>
    	<script type="text/javascript">
    		var queryString = window.location.search;
			var params = new URLSearchParams(queryString);
			var tableName = params.get('name');
			var schemaName = params.get('schemaName');

            $j('#shrink-table-owner').val(schemaName);
            $j('#shrink-table-name').val(tableName);

            var dbSQL = null;

            function applyAndClose() {
                var compact = $j('#shrink-table-compact').prop('checked');
                var cascade = $j('#shrink-table-cascade').prop('checked');

                var cascadeQuery = '';
                var compactQuery = '';

                if(cascade) {
                    cascadeQuery = ' CASCADE';
                }

                if(compact) {
                    compactQuery = ' COMPACT';
                }

                var sql = 'ALTER TABLE ' + schemaName + '.' + tableName + ' SHRINK SPACE' + compactQuery + cascadeQuery + ';';
                dbSQL = new DatabaseSQL();
                dbSQL.addSQLSuccessEventListener(onSQLSuccess);
                dbSQL.addSQLErrorEventListener(onSQLError);

                w2popup.lock('Shrinking table...', true);
                dbSQL.execute_sql(sql);
            }

            function onSQLSuccess() {
                w2popup.unlock();
                w2alert('Table shrink successful!')
                    .done(function() {
                        dbSQL.destroy();
                        w2popup.close();
                    });
            }

            function onSQLError(result) {
                w2popup.unlock();
                w2alert('Error while shrinking table: ' + result);
                dbSQL.destroy();
            }
    	</script>
    </div>
    <div rel="buttons">
        <button class="w2ui-btn" onclick="applyAndClose()">Apply</button>
        <button class="w2ui-btn" onclick="w2popup.close()">Close</button>
    </div>
</div>