<div id="privileges-revoke-action-popup" style="width: 460px; height: 560px;">
    <div rel="title">
        Revoke
    </div>
    <div rel="body" style="padding: 5px; width: 100%; height: 100%">
        <div style="line-height: 30px;">
            <label for='privileges-revoke-table-owner'>Owner:</label>
            <input id='privileges-revoke-table-owner' style="margin-left: 33px; width: 330px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='privileges-revoke-table-name'>Name:</label>
            <input id='privileges-revoke-table-name' style="margin-left: 37px; width: 330px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='privileges-revoke-users-roles'>Users/Roles:</label>
            <select id='privileges-revoke-users-roles' style="width: 330px;">
            </select>
        </div>
        <hr />
        <div style="line-height: 30px;">
            <input id='privileges-revoke-revoke-all' type="checkbox" style="margin-left: 81px;">Revoke All</input>
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        <select id='privileges-revoke-available-grants' size="20" style="width: 190px;">
                        </select>
                    </td>
                    <td style='width: 40px;'>
                        <table>
                            <tr>
                                <td><button id='right-button'><i class='shuttle_right_icon' /></button></td>
                            </tr>
                            <tr>
                                <td><button id='right-all-button'><i class='shuttle_right_all_icon' /></button></td>
                            </tr>
                            <tr>
                                <td><button id='left-button'><i class='shuttle_left_icon' /></button></td>
                            </tr>
                            <tr>
                                <td><button id='left-all-button'><i class='shuttle_left_all_icon' /></button></td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <select id='privileges-revoke-selected-grants' size="20" style="width: 190px;">
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    	<script type="text/javascript">
    		var queryString = window.location.search;
			var params = new URLSearchParams(queryString);
			var tableName = params.get('name');
			var schemaName = params.get('schemaName');

            $j('#privileges-revoke-table-owner').val(schemaName);
            $j('#privileges-revoke-table-name').val(tableName);

            var dbSQL = null;
            var db = new Database();

            db.addRolesAvailableEventListener(onRolesListAvailable);
            db.addPrivilegesAvailableEventListener(onPrivilegesListAvailable);
            db.getRoles();

            $j('#privileges-revoke-users-roles').on('change', function() {
                var grantee = this.value;
                db.getPrivileges(schemaName, tableName, grantee);
            });

            $j('#privileges-revoke-revoke-all').on('change', function() {
                if(this.checked) {
                    $j('#privileges-revoke-available-grants').prop('disabled', true);
                    $j('#right-button').prop('disabled', true);
                    $j('#right-all-button').prop('disabled', true);
                    $j('#left-button').prop('disabled', true);
                    $j('#left-all-button').prop('disabled', true);
                    $j('#privileges-revoke-selected-grants').prop('disabled', true);
                } else {
                    $j('#privileges-revoke-available-grants').prop('disabled', false);
                    $j('#right-button').prop('disabled', false);
                    $j('#right-all-button').prop('disabled', false);
                    $j('#left-button').prop('disabled', false);
                    $j('#left-all-button').prop('disabled', false);
                    $j('#privileges-revoke-selected-grants').prop('disabled', false);
                }
            });

            $j('#right-button').on('click', function() {
                var selectedItem = $j('#privileges-revoke-available-grants').children('option:selected');
                if(selectedItem.length > 0) {
                    $j('#privileges-revoke-selected-grants').append(selectedItem[0].outerHTML);
                    selectedItem.remove();
                }
            });

            $j('#right-all-button').on('click', function() {
                $j('#privileges-revoke-available-grants').children().each(function() {
                    var html = $j(this)[0].outerHTML;
                    $j('#privileges-revoke-selected-grants').append(html);
                    $j(this).remove();
                });
            });

            $j('#left-button').on('click', function() {
                var selectedItem = $j('#privileges-revoke-selected-grants').children('option:selected');
                if(selectedItem.length > 0) {
                    $j('#privileges-revoke-available-grants').append(selectedItem[0].outerHTML);
                    selectedItem.remove();
                }
            });

            $j('#left-all-button').on('click', function() {
                $j('#privileges-revoke-selected-grants').children().each(function() {
                    var html = $j(this)[0].outerHTML;
                    $j('#privileges-revoke-available-grants').append(html);
                    $j(this).remove();
                });
            });

            function onPrivilegesListAvailable(result) {
                $j('#privileges-revoke-available-grants').empty();
                result.forEach(function(privilege) {
                    $j('#privileges-revoke-available-grants').append('<option>' + privilege + '</option>');
                });
            }

            function onRolesListAvailable(result) {
                result.forEach(function(index) {
                    $j('#privileges-revoke-users-roles').append('<option>' + index + '</option>');
                });
                $j('#privileges-revoke-users-roles').trigger('change');
            }

            function getSelectedPrivileges() {
                var privileges = '';
                $j('#privileges-revoke-selected-grants').children().each(function() {
                    var value = $j(this)[0].value;
                    if(privileges === '') {
                        privileges += value;
                    } else {
                        privileges += ', ' + value;
                    }
                });

                return privileges;
            }
            
            function applyAndClose() {
                var role = $j('#privileges-revoke-users-roles').val();
                var revokeAll = $j('#privileges-revoke-revoke-all').prop('checked');
                
                var sql = '';
                if(revokeAll) {
                    sql = 'REVOKE ALL ON ' + schemaName + '.' + tableName + ' FROM ' + role + ';';
                } else {
                    var privileges = getSelectedPrivileges();
                    if(privileges !== '') {
                        sql = 'REVOKE ' + privileges + ' ON ' + schemaName + '.' + tableName + ' FROM ' + role + ';';
                    }
                }

                if(sql !== '') {
                    dbSQL = new DatabaseSQL();
                    dbSQL.addSQLSuccessEventListener(onSQLSuccess);
                    dbSQL.addSQLErrorEventListener(onSQLError);

                    w2popup.lock('Revoking privileges...', true);
                    dbSQL.execute_sql(sql);
                } else {
                    w2alert('Please select at least one privilege to be revoked');
                }
            }

            function onSQLSuccess() {
                w2popup.unlock();
                w2alert('Privileges revoked successfully!')
                    .done(function() {
                        dbSQL.destroy();
                        db.destroy();
                        w2popup.close();
                    });
            }

            function onSQLError(result) {
                w2popup.unlock();
                w2alert('Error while revoking privileges: ' + result);
                dbSQL.destroy();
            }
    	</script>
    </div>
    <div rel="buttons">
        <button class="w2ui-btn" onclick="applyAndClose()">Apply</button>
        <button class="w2ui-btn" onclick="db.destroy(); w2popup.close()">Close</button>
    </div>
</div>