<!DOCTYPE html>
<html style='height:100%;width:100%'>
  <head>
    <title>Page Title</title>
    <meta charset="utf-1">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/static/designer.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/subjx.css" >
    <link rel="stylesheet" href="/static/css/w2ui.min.css" >
    <link rel="stylesheet" href="/static/css/fontawesome/css/all.min.css" >
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/subjx.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/prototype.js"></script>
    <script src="/static/js/d3.min.js"></script>
    <script src="/static/js/socket.io.slim.js"></script>
    <script src="/static/js/ace/src-min/ace.js"></script>
    <script src="/static/js/ace/src-min/ext-language_tools.js"></script>
    <script src="/static/designer.js" ></script>
    <script src="/static/ui.js" ></script>
  	<script>
  		var $j = jQuery.noConflict();
  	</script>
    <script src="/static/js/w2ui.min.js"></script>
  </head>
  <body style='height: 100%; width: 100%; overflow: hidden;'> <!--height:auto;max-width:100%;-->

	  <script>
      var NavNodeType = {
        EDGES_FOLDER: 'EDGES-FOLDER',
        NODES_FOLDER: 'NODES-FOLDER',
        EDGE: 'EDGE',
        NODE: 'NODE',
        PROJECT: 'PROJECT'
      };
	    $j(document).ready(function(){
		    try{
          // var projectId = '';
          // var dbConnection = null;
          // var schema = null;
          // var connectionId = '';
          var tabs = {};
          var openedTabs = [];
          var openedViews = [];
          var openedIndexes = [];
          var openedMViews = [];
          var openedPLSQLs = [];
          var tables = {};
          var views = {};
          var indexes = {};
          var mviews = {};
          var plsqls = {};

          var projectNavigator = new ProjectNavigator('projectNavigator', initializeParentCallback, itemAddedCallback, itemRemovedCallback, itemSelectedCallback, initializeContextMenuCallback, contextMenuItemSelectedCallback,
            contextMenuCallback);

		    	var c = new Canvas('canvas_grid');
          var a = new Application('app', c, projectNavigator);
          a.addNewProjectEventListener(onNewProject);
          a.addTabClosedEventListener(onTabClosed);

          var edgesGroup = new ToolGroup('edges_group', 'Edges');
          var nodesGroup = new ToolGroup('nodes_group', 'Nodes');
          var flowchartGroup = new ToolGroup('flowchart_group', 'Flowchart');
          var databaseGroup = new ToolGroup('database_group', 'Database');

          var toolbox = new ToolBox('tool_box', c);

          var lineTool = new Line('LineTool', c);
      	  var rectTool = new Rectangle('RectTool', c);
      	  var circTool = new Circle('CircTool', c);
      	  var ellipTool = new Ellipse('EllipTool', c);
      	  var polyTool = new Polygon('PolyTool', c);
      	  var polylineTool = new Polyline('PolylineTool', c);
          var bezireCurve = new BezireCurve('bezireCurve', c);
          var nodeTool = new BasicNode('NodeTool', c);

          var fcTerminatorTool = new FlowChartTerminator('FCTermTool', c);
          var fcProcessTool = new FlowChartProcess('FCProcTool', c);
          var fcDecisionTool = new FlowChartDecision('FCDecisionTool', c);
          var fcDocumentTool = new FlowChartDocument('FCDocTool', c);
          var fcSubroutineTool = new FlowChartSubroutine('FCSubTool', c);
          var fcDelayTool = new FlowChartDelay('FCDelayTool', c);
          var fcDataTool = new FlowChartData('FCDataTool', c);
          var fcMultiDocTool = new FlowChartMultiDocument('FCMultiDocTool', c);
          var fcPrepTool = new FlowChartPreparation('FCPrepTool', c);
          var fcDispTool = new FlowChartDisplay('FCDispTool', c);
          var fcInputTool = new FlowChartInput('FCInputTool', c);
          var fcLoopTool = new FlowChartLoop('FCLoopTool', c);
          var fcLoopLimitTool = new FlowChartLoopLimit('FCLoopLimitTool', c);
          var fcStoredDataTool = new FlowChartStoredData('FCStoredDataTool', c);
          var fcConnectorTool = new FlowChartConnector('FCConnectorTool', c);
          var fcOffPgConnTool = new FlowChartOffPageConnector('FCOffPgConn', c);
          var fcORTool = new FlowChartOR('FCORTool', c);
          var fcANDTool = new FlowChartAND('FCANDTool', c);
          var fcCollateTool = new FlowChartCollate('FCCollateTool', c);
          var fcSortTool = new FlowChartSort('FCSortTool', c);
          var fcMergeTool = new FlowChartMerge('FCMergeTool', c);
          var fcIntStorageTool = new FlowChartInternalStorage('FCIntStorageTool', c);
          var fcDBTool =  new FlowChartDatabase('FCDBTool', c);

          var dbTable = new DatabaseTableNode('DBTable', c);

          edgesGroup.addTool(lineTool);
          edgesGroup.addTool(polylineTool);
          edgesGroup.addTool(bezireCurve);

          nodesGroup.addTool(rectTool);
          nodesGroup.addTool(circTool);
          nodesGroup.addTool(ellipTool);
          nodesGroup.addTool(polyTool);
          nodesGroup.addTool(nodeTool);

          flowchartGroup.addTool(fcTerminatorTool);
          flowchartGroup.addTool(fcProcessTool);
          flowchartGroup.addTool(fcDecisionTool);
          flowchartGroup.addTool(fcDocumentTool);
          flowchartGroup.addTool(fcSubroutineTool);
          flowchartGroup.addTool(fcDelayTool);
          flowchartGroup.addTool(fcDataTool);
          flowchartGroup.addTool(fcMultiDocTool);
          flowchartGroup.addTool(fcPrepTool);
          flowchartGroup.addTool(fcDispTool);
          flowchartGroup.addTool(fcInputTool);
          flowchartGroup.addTool(fcLoopTool);
          flowchartGroup.addTool(fcLoopLimitTool);
          flowchartGroup.addTool(fcStoredDataTool);
          flowchartGroup.addTool(fcConnectorTool);
          flowchartGroup.addTool(fcOffPgConnTool);
          flowchartGroup.addTool(fcORTool);
          flowchartGroup.addTool(fcANDTool);
          flowchartGroup.addTool(fcCollateTool);
          flowchartGroup.addTool(fcSortTool);
          flowchartGroup.addTool(fcMergeTool);
          flowchartGroup.addTool(fcIntStorageTool);
          flowchartGroup.addTool(fcDBTool);

          databaseGroup.addTool(dbTable);

          toolbox.addGroup(edgesGroup);
          toolbox.addGroup(nodesGroup);
          toolbox.addGroup(flowchartGroup);
          toolbox.addGroup(databaseGroup);

          c.setToolBox(toolbox);

          a.render();

          if(typeof(Storage)) {
            if(localStorage.projects) {
              var projects = localStorage.projects;
              var projectsArray = projects.split(',');
              var navigationTree = a.getNavigationTree();
              projectsArray.forEach(function(project){
                createProject(navigationTree, project);
                createConnection(navigationTree, project);
              });
            }
          } else {
            alert('Cannot read projects information. No projects will be loaded!');
          }

          function onTabClosed(tabId) {
            tabs[tabId].destroy();

            var index = openedTabs.indexOf(tabId);
            openedTabs.splice(index, 1);

            index = openedViews.indexOf(tabId);
            openedViews.splice(index, 1);

            index = openedIndexes.indexOf(tabId);
            openedIndexes.splice(index, 1);

            index = openedPLSQLs.indexOf(tabId);
            openedPLSQLs.splice(index, 1);

            delete tables[tabId];
            delete tabs[tabId];
            delete views[tabId];
            delete indexes[tabId];
            delete plsqls[tabId];
          }

          function createConnection(navigationTree, project) {
            var projectId = project.toLowerCase() + '-project';
            var connName = localStorage.getItem(projectId + '-connection-name');
            var connString = localStorage.getItem(projectId + '-connection-string');
            var username = localStorage.getItem(projectId + '-connection-username');
            var password = localStorage.getItem(projectId + '-connection-password');

            if(connName && connString && username && password) {
              var connectionId = projectId + '-' + connName.toLowerCase();
              var dbConnection = new DatabaseConnection(projectId);
              dbConnection.setConnectionName(connName);
              dbConnection.setConnectionString(connString);
              dbConnection.setUsername(username);
              dbConnection.setPassword(password);

              navigationTree.insert(projectId, null, [
                                    {id: connectionId, text: connName, icon: 'database_connection_icon', nodeType: DatabaseNavNodeType.CONNECTION_FOLDER, dbConnection: dbConnection
                                    }]
                                  );
            }
          }

          function initializeParentCallback(navigationTree) {
            navigationTree.add([
                { id: 'projects', text: 'Projects', icon: 'icon-folder', expanded: true, group: true}
              ]);
          }

          function itemAddedCallback(navigationTree, item) {
            if(item.toolName === 'LINE' || item.toolName === 'POLYLINE' || item.toolName === 'BEZIRE_CURVE') {
              navigationTree.insert(projectId + '-edges', null, [{id: item.id, text: item.id + ' - ' + item.toolName, nodeType: NavNodeType.EDGE}]);
            } else if(item.toolName === 'DATABASE_TABLE' && connectionId !== '') {
              item.setSchema(schema);
              navigationTree.insert(connectionId + '-tables', null, [{id: item.id, text: item.title, icon: 'table_icon', nodeType: DatabaseNavNodeType.TABLE}])
            } else {
              navigationTree.insert(projectId + '-nodes', null, [{id: item.id, text: item.id + ' - ' + item.toolName, nodeType: NavNodeType.NODE}]);
            }
          }

          function itemRemovedCallback(navigationTree, item) {
            navigationTree.remove(item.id);
          }

          function removeSpecialChars(value) {
            return value.replace(/\$/g, '');
          }

          function itemSelectedCallback(navigationTree, item) {
            var id = removeSpecialChars(item.node.id);
            if(item.node.nodeType === DatabaseNavNodeType.TABLE) {
              var index = openedTabs.indexOf(id + '-table-tab');
              if(index === -1){
                createTableTab(id, item.node.text);
                openedTabs.push(id + '-table-tab');
              }
            } else if(item.node.nodeType === DatabaseNavNodeType.VIEW) {
              var index = openedViews.indexOf(id + '-view-tab');
              if(index === -1){
                createViewTab(id, item.node.text);
                openedViews.push(id + '-view-tab');
              }
            } else if(item.node.nodeType === DatabaseNavNodeType.INDEX) {
              var index = openedIndexes.indexOf(id + '-index-tab');
              if(index === -1){
                createIndexTab(id, item.node.text);
                openedIndexes.push(id + '-index-tab');
              }
            } else if(item.node.nodeType === DatabaseNavNodeType.MVIEW) {
              var index = openedMViews.indexOf(id + '-mview-tab');
              if(index === -1){
                createMViewTab(id, item.node.text);
                openedMViews.push(id + '-mview-tab');
              }
            } else if(item.node.nodeType === DatabaseNavNodeType.PROCEDURE || item.node.nodeType === DatabaseNavNodeType.FUNCTION || item.node.nodeType === DatabaseNavNodeType.PACKAGE || item.node.nodeType === DatabaseNavNodeType.PACKAGE_BODY || item.node.nodeType === DatabaseNavNodeType.TRIGGER) {
              var index = openedPLSQLs.indexOf(id + '-plsql-tab');
              if(index === -1){
                createPLSQLTab(id, item.node.text, item.node.nodeType);
                openedPLSQLs.push(id + '-plsql-tab');
              }
            }
          }

          function createPLSQLTab(id, label, nodeType) {
            var tabId = id + '-plsql-tab';
            if(nodeType === DatabaseNavNodeType.PACKAGE_BODY) {
              plsqls[tabId] = new DatabasePLSQL(label.replace(' Body', ''), tabId, nodeType);
            } else {
              plsqls[tabId] = new DatabasePLSQL(label, tabId, nodeType);
            }
            
            tabs[tabId] = new PLSQLTabUI(id, label);

            plsqls[tabId].addSQLAvailableEventListener(onSQLAvailable);
            plsqls[tabId].addErrorsAvailableEventListener(onErrorsAvailable);
            plsqls[tabId].addDependenciesAvailableEventListener(onDependenciesAvailable);
            // plsqls[tabId].addProfilesAvailableEventListener(onProfilesAvailable);
            plsqls[tabId].addGrantsAvailableEventListener(onGrantsAvailable);
            plsqls[tabId].addReferencesAvailableEventListener(onReferencesAvailable);

            var content = tabs[tabId].getTabContent();
            var icon = "";
            if(nodeType === DatabaseNavNodeType.PROCEDURE) {
              icon = 'procedure_icon';
            } else if(nodeType === DatabaseNavNodeType.FUNCTION) {
              icon = 'function_icon';
            } else if(nodeType === DatabaseNavNodeType.PACKAGE) {
              icon = 'package_icon';
            } else if(nodeType === DatabaseNavNodeType.PACKAGE_BODY) {
              icon = 'package_icon';
            } else if(nodeType === DatabaseNavNodeType.TRIGGER) {
              icon = 'trigger_icon';
            }
            a.addTab(tabId, label, content, icon);
            tabs[tabId].initTab();

            tabs[tabId].createSQLEditor();

            tabs[tabId].addTabsBeforeActivateEventListener(function(event, ui){
              var panel = ui.newPanel;
              var name = panel.attr('tabname');
              if(name === 'errors') {
                if(!tabs[tabId].isErrorsGridCreated()) {
                  tabs[tabId].createErrorsGrid();
                  plsqls[tabId].getErrors();
                }
              } else if(name === 'dependencies') {
                if(!tabs[tabId].isDependenciesGridCreated()) {
                  tabs[tabId].createDependenciesGrid();
                  plsqls[tabId].getDependencies();
                }
              } else if(name === 'profiles') {
                if(!tabs[tabId].isProfilesGridCreated()) {
                  tabs[tabId].createProfilesGrid();
                  // plsqls[tabId].getProfiles();
                }
              } else if(name === 'grants') {
                if(!tabs[tabId].isGrantsGridCreated()) {
                  tabs[tabId].createGrantsGrid();
                  plsqls[tabId].getGrants();
                }
              } else if(name === 'references') {
                if(!tabs[tabId].isReferencesGridCreated()) {
                  tabs[tabId].createReferencesGrid();
                  plsqls[tabId].getReferences();
                }
              }
            });

            plsqls[tabId].getSQL();

            function onSQLAvailable(result, tabId){
              tabs[tabId].getSQLEditor().setValue(result);
            }

            function onErrorsAvailable(result, tabId){
              tabs[tabId].getErrorsGrid().records = result;
              tabs[tabId].getErrorsGrid().refresh();
            }

            function onDependenciesAvailable(result, tabId){
              tabs[tabId].getDependenciesGrid().records = result;
              tabs[tabId].getDependenciesGrid().refresh();
            }

            function onGrantsAvailable(result, tabId){
              tabs[tabId].getGrantsGrid().records = result;
              tabs[tabId].getGrantsGrid().refresh();
            }

            function onReferencesAvailable(result, tabId){
              tabs[tabId].getReferencesGrid().records = result;
              tabs[tabId].getReferencesGrid().refresh();
            }
          }

          function createMViewTab(id, label) {
            var tabId = id + '-mview-tab';
            mviews[tabId] = new DatabaseMaterializedView(label, tabId);
            tabs[tabId] = new MaterializedViewTabUI(id, label);

            mviews[tabId].addColumnsAvailableEventListener(onColumnsAvailable);
            mviews[tabId].addColumnHeadersAvailableEventListener(onColumnHeadersAvailable);
            mviews[tabId].addDataAvailableEventListener(onDataAvailable);
            mviews[tabId].addGrantsAvailableEventListener(onGrantsAvailable);
            mviews[tabId].addDependenciesAvailableEventListener(onDependenciesAvailable);
            mviews[tabId].addDependenciesDetailsAvailableEventListener(onDependenciesDetailsAvailable);
            mviews[tabId].addIndexesAvailableEventListener(onIndexesAvailable);
            mviews[tabId].addIndexesDetailsAvailableEventListener(onIndexesDetailsAvailable);
            mviews[tabId].addSQLAvailableEventListener(onSQLAvailable);

            var content = tabs[tabId].getTabContent();
            a.addTab(tabId, label, content, 'mview_icon');
            tabs[tabId].initTab();

            tabs[tabId].createColumnsGrid();

            tabs[tabId].addTabsBeforeActivateEventListener(function(event, ui){
              var panel = ui.newPanel;
              var name = panel.attr('tabname');
              if(name === 'data') {
                if(!tabs[tabId].isDataGridCreated()) {
                  tabs[tabId].createDataGrid();
                  mviews[tabId].getData();
                }
              } else if(name === 'grants') {
                if(!tabs[tabId].isGrantsGridCreated()) {
                  tabs[tabId].createGrantsGrid();
                  mviews[tabId].getGrants();
                }
              } else if(name === 'dependencies') {
                if(!tabs[tabId].isDependenciesGridCreated()) {
                  tabs[tabId].createDependenciesGrid();
                  mviews[tabId].getDependencies();
                  mviews[tabId].getDependenciesDetails();
                }
              } else if(name === 'indexes') {
                if(!tabs[tabId].isIndexesGridCreated()) {
                  tabs[tabId].createIndexesGrid();
                  mviews[tabId].getIndexes();
                }
              } else if(name === 'sql') {
                if(!tabs[tabId].isSQLEditorCreated()) {
                  tabs[tabId].createSQLEditor();
                  mviews[tabId].getSQL();
                }
              }
            });

            tabs[tabId].addDependenciesGridClickedEventListener(function(record, tab){
              mviews[tabId].getDependenciesDetails();
            });

            tabs[tabId].addIndexesGridClickedEventListener(function(record, tab){
              mviews[tabId].getIndexesDetails(record.indexName);
            });

            tabs[tabId].addColumnsReloadButtonClickedEventListener(function(tab){
              mviews[tabId].getColumns();
            });

            tabs[tabId].addDataReloadButtonClickedEventListener(function(tab){
              mviews[tabId].getData();
            });

            tabs[tabId].addGrantsReloadButtonClickedEventListener(function(tab){
              mviews[tabId].getGrants();
            });

            tabs[tabId].addDependenciesReloadButtonClickedEventListener(function(tab){
              mviews[tabId].getDependencies();
              mviews[tabId].getDependenciesDetails();
            });

            tabs[tabId].addIndexesReloadButtonClickedEventListener(function(tab){
              mviews[tabId].getIndexes();
            });

            tabs[tabId].addSQLReloadButtonClickedEventListener(function(tab){
              mviews[tabId].getSQL();
            });

            function onColumnsAvailable(result, tabId){
              tabs[tabId].getColumnsGrid().records = result;
              tabs[tabId].getColumnsGrid().refresh();
            }
            mviews[tabId].getColumns();

            function onColumnHeadersAvailable(result, tabId){
              tabs[tabId].getDataGrid().columns = result;
              tabs[tabId].getDataGrid().refresh();
            }

            function onDataAvailable(result, tabId){
              tabs[tabId].getDataGrid().records = result;
              tabs[tabId].getDataGrid().refresh();
            }

            function onGrantsAvailable(result, tabId){
              tabs[tabId].getGrantsGrid().records = result;
              tabs[tabId].getGrantsGrid().refresh();
            }

            function onDependenciesAvailable(result, tabId){
              tabs[tabId].getDependenciesGrid().records = result;
              tabs[tabId].getDependenciesGrid().refresh();
            }

            function onDependenciesDetailsAvailable(result, tabId){
              tabs[tabId].getDependenciesDetailsGrid().records = result;
              tabs[tabId].getDependenciesDetailsGrid().refresh();
            }

            function onIndexesAvailable(result, tabId){
              tabs[tabId].getIndexesGrid().records = result;
              tabs[tabId].getIndexesGrid().refresh();
            }

            function onIndexesDetailsAvailable(result, tabId){
              tabs[tabId].getIndexesDetailsGrid().records = result;
              tabs[tabId].getIndexesDetailsGrid().refresh();
            }

            function onSQLAvailable(result, tabId){
              tabs[tabId].getSQLEditor().setValue(result);
            }
          }

          function createIndexTab(id, label) {
            var tabId = id + '-index-tab';
            indexes[tabId] = new DatabaseIndex(label, tabId);
            tabs[tabId] = new IndexTabUI(id, label);

            indexes[tabId].addColumnsAvailableEventListener(onColumnsAvailable);
            indexes[tabId].addStatisticsAvailableEventListener(onStatisticsAvailable);
            indexes[tabId].addSQLAvailableEventListener(onSQLAvailable);

            var content = tabs[tabId].getTabContent();
            a.addTab(tabId, label, content, 'index_icon');
            tabs[tabId].initTab();

            tabs[tabId].createColumnsGrid();

            tabs[tabId].addTabsBeforeActivateEventListener(function(event, ui){
                var panel = ui.newPanel;
                var name = panel.attr('tabname');
                if(name === 'statistics') {
                  if(!tabs[tabId].isStatisticsGridCreated()) {
                    tabs[tabId].createStatisticsGrid();
                    indexes[tabId].getStatistics();
                  }
                } else if(name === 'sql') {
                  if(!tabs[tabId].isSQLEditorCreated()) {
                    tabs[tabId].createSQLEditor();
                    indexes[tabId].getSQL();
                  }
                }
              });

            tabs[tabId].addColumnsReloadButtonClickedEventListener(function(tab){
              indexes[tabId].getColumns();
            });

            tabs[tabId].addStatisticsReloadButtonClickedEventListener(function(tab){
              indexes[tabId].getStatistics();
            });

            tabs[tabId].addSQLReloadButtonClickedEventListener(function(tab){
              indexes[tabId].getSQL();
            });

            function onColumnsAvailable(result, tabId){
              tabs[tabId].getColumnsGrid().records = result;
              tabs[tabId].getColumnsGrid().refresh();
            }
            indexes[tabId].getColumns();

            function onStatisticsAvailable(result, tabId){
              tabs[tabId].getStatisticsGrid().records = result;
              tabs[tabId].getStatisticsGrid().refresh();
            }

            function onSQLAvailable(result, tabId){
              tabs[tabId].getSQLEditor().setValue(result);
            }
          }

          function createViewTab(id, label) {
            var tabId = id + '-view-tab';
            views[tabId] = new DatabaseView(label, tabId);
            tabs[tabId] = new ViewTabUI(id, label);

            views[tabId].addColumnsAvailableEventListener(onColumnsAvailable);
            views[tabId].addColumnHeadersAvailableEventListener(onColumnHeadersAvailable);
            views[tabId].addDataAvailableEventListener(onDataAvailable);
            views[tabId].addGrantsAvailableEventListener(onGrantsAvailable);
            views[tabId].addTriggersAvailableEventListener(onTriggersAvailable);
            views[tabId].addTriggerBodyAvailableEventListener(onTriggerBodyAvailable);
            views[tabId].addDependenciesAvailableEventListener(onDependenciesAvailable);
            views[tabId].addDependenciesDetailsAvailableEventListener(onDependenciesDetailsAvailable);
            views[tabId].addSQLAvailableEventListener(onSQLAvailable);
            views[tabId].addErrorsAvailableEventListener(onErrorsAvailable);

            var content = tabs[tabId].getTabContent();
            a.addTab(tabId, label, content, 'view_icon');
            tabs[tabId].initTab();

            tabs[tabId].createColumnsGrid();

            tabs[tabId].addTabsBeforeActivateEventListener(function(event, ui){
                var panel = ui.newPanel;
                var name = panel.attr('tabname');
                if(name === 'data') {
                  if(!tabs[tabId].isDataGridCreated()) {
                    tabs[tabId].createDataGrid();
                    views[tabId].getData();
                  }
                } else if(name === 'grants') {
                  if(!tabs[tabId].isGrantsGridCreated()) {
                    tabs[tabId].createGrantsGrid();
                    views[tabId].getGrants();
                  }
                } else if(name === 'triggers') {
                  if(!tabs[tabId].isTriggersGridCreated()) {
                    tabs[tabId].createTriggersGrid();
                    views[tabId].getTriggers();
                  }
                } else if(name === 'dependencies') {
                  if(!tabs[tabId].isDependenciesGridCreated()) {
                    tabs[tabId].createDependenciesGrid();
                    views[tabId].getDependencies();
                    views[tabId].getDependenciesDetails();
                  }
                } else if(name === 'sql') {
                  if(!tabs[tabId].isSQLEditorCreated()) {
                    tabs[tabId].createSQLEditor();
                    views[tabId].getSQL();
                  }
                } else if(name === 'errors') {
                  if(!tabs[tabId].isErrorsGridCreated()) {
                    tabs[tabId].createErrorsGrid();
                    views[tabId].getErrors();
                  }
                }
              });

            tabs[tabId].addTriggersGridClickedEventListener(function(record, tab){
              views[tabId].getTriggerBody(record.triggerName);
            });

            tabs[tabId].addDependenciesGridClickedEventListener(function(record, tab){
              views[tabId].getDependenciesDetails();
            });

            tabs[tabId].addColumnsReloadButtonClickedEventListener(function(tab){
              views[tabId].getColumns();
            });

            tabs[tabId].addDataReloadButtonClickedEventListener(function(tab){
              views[tabId].getData();
            });

            tabs[tabId].addGrantsReloadButtonClickedEventListener(function(tab){
              views[tabId].getGrants();
            });

            tabs[tabId].addTriggersReloadButtonClickedEventListener(function(tab){
              views[tabId].getTriggers();
            });

            tabs[tabId].addDependenciesReloadButtonClickedEventListener(function(tab){
              views[tabId].getDependencies();
              views[tabId].getDependenciesDetails();
            });

            tabs[tabId].addSQLReloadButtonClickedEventListener(function(tab){
              views[tabId].getSQL();
            });

            tabs[tabId].addErrorsReloadButtonClickedEventListener(function(tab){
              views[tabId].getErrors();
            });

            function onColumnsAvailable(result, tabId){
              tabs[tabId].getColumnsGrid().records = result;
              tabs[tabId].getColumnsGrid().refresh();
            }
            views[tabId].getColumns();

            function onColumnHeadersAvailable(result, tabId){
              tabs[tabId].getDataGrid().columns = result;
              tabs[tabId].getDataGrid().refresh();
            }

            function onDataAvailable(result, tabId){
              tabs[tabId].getDataGrid().records = result;
              tabs[tabId].getDataGrid().refresh();
            }

            function onGrantsAvailable(result, tabId){
              tabs[tabId].getGrantsGrid().records = result;
              tabs[tabId].getGrantsGrid().refresh();
            }

            function onTriggersAvailable(result, tabId){
              tabs[tabId].getTriggersGrid().records = result;
              tabs[tabId].getTriggersGrid().refresh();
            }

            function onTriggerBodyAvailable(result, tabId){
              tabs[tabId].getTriggersEditor().setValue(result);
            }

            function onDependenciesAvailable(result, tabId){
              tabs[tabId].getDependenciesGrid().records = result;
              tabs[tabId].getDependenciesGrid().refresh();
            }

            function onDependenciesDetailsAvailable(result, tabId){
              tabs[tabId].getDependenciesDetailsGrid().records = result;
              tabs[tabId].getDependenciesDetailsGrid().refresh();
            }

            function onSQLAvailable(result, tabId){
              tabs[tabId].getSQLEditor().setValue(result);
            }

            function onErrorsAvailable(result, tabId){
              tabs[tabId].getErrorsGrid().records = result;
              tabs[tabId].getErrorsGrid().refresh();
            }
          }

          function createTableTab(id, label) {
              var tabId = id + '-table-tab';
              tables[tabId] = new DatabaseTable(label, tabId);
              tabs[tabId] = new TableTabUI(id, label);

              tables[tabId].addColumnsAvailableEventListener(onColumnsAvailable);
              tables[tabId].addColumnHeadersAvailableEventListener(onColumnHeadersAvailable);
              tables[tabId].addDataAvailableEventListener(onDataAvailable);
              tables[tabId].addConstraintsAvailableEventListener(onConstraintsAvailable);
              tables[tabId].addConstraintDetailsAvailableEventListener(onConstraintDetailsAvailable);
              tables[tabId].addGrantsAvailableEventListener(onGrantsAvailable);
              tables[tabId].addStatisticsAvailableEventListener(onStatisticsAvailable);
              tables[tabId].addStatisticsDetailsAvailableEventListener(onStatisticsDetailsAvailable);
              tables[tabId].addTriggersAvailableEventListener(onTriggersAvailable);
              tables[tabId].addTriggerBodyAvailableEventListener(onTriggerBodyAvailable);
              tables[tabId].addDependenciesAvailableEventListener(onDependenciesAvailable);
              tables[tabId].addDependenciesDetailsAvailableEventListener(onDependenciesDetailsAvailable);
              tables[tabId].addIndexesAvailableEventListener(onIndexesAvailable);
              tables[tabId].addIndexesDetailsAvailableEventListener(onIndexesDetailsAvailable);
              tables[tabId].addSQLAvailableEventListener(onSQLAvailable);

              var content = tabs[tabId].getTabContent();
              a.addTab(tabId, label, content, 'table_icon');
              tabs[tabId].initTab();

              tabs[tabId].createColumnsGrid();

              tabs[tabId].addTabsBeforeActivateEventListener(function(event, ui){
                var panel = ui.newPanel;
                var name = panel.attr('tabname');
                if(name === 'data') {
                  if(!tabs[tabId].isDataGridCreated()) {
                    tabs[tabId].createDataGrid();
                    tables[tabId].getData();
                  }
                } else if(name === 'constraints') {
                  if(!tabs[tabId].isConstraintsGridCreated()) {
                    tabs[tabId].createConstraintsGrid();
                    tables[tabId].getConstraints();
                  }
                } else if(name === 'grants') {
                  if(!tabs[tabId].isGrantsGridCreated()) {
                    tabs[tabId].createGrantsGrid();
                    tables[tabId].getGrants();
                  }
                } else if(name === 'statistics') {
                  if(!tabs[tabId].isStatisticsGridCreated()) {
                    tabs[tabId].createStatisticsGrid();
                    tables[tabId].getStatistics();
                    tables[tabId].getStatisticsDetails();
                  }
                } else if(name === 'triggers') {
                  if(!tabs[tabId].isTriggersGridCreated()) {
                    tabs[tabId].createTriggersGrid();
                    tables[tabId].getTriggers();
                  }
                } else if(name === 'dependencies') {
                  if(!tabs[tabId].isDependenciesGridCreated()) {
                    tabs[tabId].createDependenciesGrid();
                    tables[tabId].getDependencies();
                    tables[tabId].getDependenciesDetails();
                  }
                } else if(name === 'indexes') {
                  if(!tabs[tabId].isIndexesGridCreated()) {
                    tabs[tabId].createIndexesGrid();
                    tables[tabId].getIndexes();
                  }
                } else if(name === 'sql') {
                  if(!tabs[tabId].isSQLEditorCreated()) {
                    tabs[tabId].createSQLEditor();
                    tables[tabId].getSQL();
                  }
                }
              });

              tabs[tabId].addConstraintsGridClickedEventListener(function(record, tab){
                tables[tabId].getConstraintDetails(record.constraintName);
              });

              tabs[tabId].addStatisticsGridClickedEventListener(function(record, tab){
                tables[tabId].getStatisticsDetails();
              });

              tabs[tabId].addTriggersGridClickedEventListener(function(record, tab){
                tables[tabId].getTriggerBody(record.triggerName);
              });

              tabs[tabId].addDependenciesGridClickedEventListener(function(record, tab){
                tables[tabId].getDependenciesDetails();
              });

              tabs[tabId].addIndexesGridClickedEventListener(function(record, tab){
                tables[tabId].getIndexesDetails(record.indexName);
              });

              tabs[tabId].addColumnsReloadButtonClickedEventListener(function(tab){
                tables[tabId].getColumns();
              });

              tabs[tabId].addDataReloadButtonClickedEventListener(function(tab){
                tables[tabId].getData();
              });

              tabs[tabId].addConstraintsReloadButtonClickedEventListener(function(tab){
                tables[tabId].getConstraints();
              });

              tabs[tabId].addGrantsReloadButtonClickedEventListener(function(tab){
                tables[tabId].getGrants();
              });

              tabs[tabId].addStatisticsReloadButtonClickedEventListener(function(tab){
                tables[tabId].getStatistics();
                tables[tabId].getStatisticsDetails();
              });

              tabs[tabId].addTriggersReloadButtonClickedEventListener(function(tab){
                tables[tabId].getTriggers();
              });

              tabs[tabId].addDependenciesReloadButtonClickedEventListener(function(tab){
                tables[tabId].getDependencies();
                tables[tabId].getDependenciesDetails();
              });

              tabs[tabId].addIndexesReloadButtonClickedEventListener(function(tab){
                tables[tabId].getIndexes();
              });

              tabs[tabId].addSQLReloadButtonClickedEventListener(function(tab){
                tables[tabId].getSQL();
              });

              function onColumnsAvailable(result, tabId){
                tabs[tabId].getColumnsGrid().records = result;
                tabs[tabId].getColumnsGrid().refresh();
              }
              tables[tabId].getColumns();

              function onColumnHeadersAvailable(result, tabId){
                tabs[tabId].getDataGrid().columns = result;
                tabs[tabId].getDataGrid().refresh();
              }

              function onDataAvailable(result, tabId){
                tabs[tabId].getDataGrid().records = result;
                tabs[tabId].getDataGrid().refresh();
              }

              function onConstraintsAvailable(result, tabId){
                tabs[tabId].getConstraintsGrid().records = result;
                tabs[tabId].getConstraintsGrid().refresh();
              }

              function onConstraintDetailsAvailable(result, tabId){
                tabs[tabId].getConstraintDetailsGrid().records = result;
                tabs[tabId].getConstraintDetailsGrid().refresh();
              }

              function onGrantsAvailable(result, tabId){
                tabs[tabId].getGrantsGrid().records = result;
                tabs[tabId].getGrantsGrid().refresh();
              }

              function onStatisticsAvailable(result, tabId){
                tabs[tabId].getStatisticsGrid().records = result;
                tabs[tabId].getStatisticsGrid().refresh();
              }

              function onStatisticsDetailsAvailable(result, tabId){
                tabs[tabId].getStatisticsDetailsGrid().records = result;
                tabs[tabId].getStatisticsDetailsGrid().refresh();
              }

              function onTriggersAvailable(result, tabId){
                tabs[tabId].getTriggersGrid().records = result;
                tabs[tabId].getTriggersGrid().refresh();
              }

              function onTriggerBodyAvailable(result, tabId){
                tabs[tabId].getTriggersEditor().setValue(result);
              }

              function onDependenciesAvailable(result, tabId){
                tabs[tabId].getDependenciesGrid().records = result;
                tabs[tabId].getDependenciesGrid().refresh();
              }

              function onDependenciesDetailsAvailable(result, tabId){
                tabs[tabId].getDependenciesDetailsGrid().records = result;
                tabs[tabId].getDependenciesDetailsGrid().refresh();
              }

              function onIndexesAvailable(result, tabId){
                tabs[tabId].getIndexesGrid().records = result;
                tabs[tabId].getIndexesGrid().refresh();
              }

              function onIndexesDetailsAvailable(result, tabId){
                tabs[tabId].getIndexesDetailsGrid().records = result;
                tabs[tabId].getIndexesDetailsGrid().refresh();
              }

              function onSQLAvailable(result, tabId){
                tabs[tabId].getSQLEditor().setValue(result);
              }
          }

          function initializeContextMenuCallback(navigationTree) {

          }

          function contextMenuCallback(navigationTree, event) {
            if(event.object.nodeType === NavNodeType.PROJECT) {
              navigationTree.menu = [
                { id: 'add-db-connection', text: 'New Connection...', icon: 'database_connection_icon'},
                { id: 'sep-1', text: '--'},
                { id: 'import-db-connections', text: 'Import Connections...', icon: 'import_icon'},
                { id: 'export-db-connections', text: 'Export Connections...', icon: 'export_icon'},
                { id: 'sep-2', text: '--'},
                { id: 'delete-project', text: 'Delete Project', icon: 'delete_icon'}
              ];
            } else if(event.object.nodeType === DatabaseNavNodeType.CONNECTION_FOLDER) {
              var dbConnection = event.object.dbConnection;
              if(dbConnection.isConnected()) {
                navigationTree.menu = [
                  { id: 'db-disconnect', text: 'Disconnect', icon: 'disconnect_icon'},
                  { id: 'sep-1', text: '--'},
                  { id: 'edit-db-connection', text: 'Edit Connection...', icon: 'database_connection_icon'}
                ];
              } else {
                navigationTree.menu = [
                  { id: 'db-connect', text: 'Connect', icon: 'connect_icon'},
                  { id: 'sep-1', text: '--'},
                  { id: 'edit-db-connection', text: 'Edit Connection...', icon: 'database_connection_icon'}
                ];
              }
            } else {
              navigationTree.menu = [
                { id: 'delete-project', text: 'Delete Project', icon: 'delete_icon'}
              ];
            }
          }

          function onConnectionInfoAvailable(projectId, connName, connString, username, password, dbConnection) {
            var connectionId = projectId + '-' + connName.toLowerCase();
            var navigationTree = a.getNavigationTree();
            navigationTree.insert(projectId, null, [
                                    {id: connectionId, text: connName, icon: 'database_connection_icon', nodeType: DatabaseNavNodeType.CONNECTION_FOLDER, dbConnection: dbConnection
                                    }]
                                  );
            localStorage.setItem(projectId + '-connection-name', connName);
            localStorage.setItem(projectId + '-connection-string', connString);
            localStorage.setItem(projectId + '-connection-username', username);
            localStorage.setItem(projectId + '-connection-password', password);
          }

          function contextMenuItemSelectedCallback(navigationTree, event) {
            if(event.menuItem.id === 'add-db-connection') {
              var projectId = event.target;
              var dbConnection = new DatabaseConnection(projectId);
              dbConnection.addConnectionInfoAvailableEventListener(onConnectionInfoAvailable);

              dbConnection.promptConnection();
            } else if(event.menuItem.id === 'db-connect') {
              var connectionId = event.target;
              var item = navigationTree.get(connectionId);
              var dbConnection = item.dbConnection;
              dbConnection.addConnectedEventListener(onConnected);
              dbConnection.connect();

              function onConnected() {
                var schema = new DatabaseSchema(dbConnection);
                item.schema = schema;
                schema.addTablesAvailableEventListener(onTablesAvailable);
                schema.addViewsAvailableEventListener(onViewsAvailable);
                schema.addIndexesAvailableEventListener(onIndexesAvailable);
                schema.addMViewsAvailableEventListener(onMViewsAvailable);
                schema.addProceduresAvailableEventListener(onProceduresAvailable);
                schema.addFunctionsAvailableEventListener(onFunctionsAvailable);
                schema.addPackagesAvailableEventListener(onPackagesAvailable);
                schema.addSequencesAvailableEventListener(onSequencesAvailable);
                schema.addSynonymsAvailableEventListener(onSynonymsAvailable);
                // schema.addPublicSynonymsAvailableEventListener(onPublicSynonymsAvailable);
                schema.addTriggersAvailableEventListener(onTriggersAvailable);
                schema.addTypesAvailableEventListener(onTypesAvailable);
                schema.addQueuesAvailableEventListener(onQueuesAvailable);
                schema.addDatabaseLinksAvailableEventListener(onDatabaseLinksAvailable);
                schema.addPublicDatabaseLinksAvailableEventListener(onPublicDatabaseLinksAvailable);
                schema.addDirectoriesAvailableEventListener(onDirectoriesAvailable);
                navigationTree.insert(connectionId, null, [
                                            {id: connectionId + '-tables', text: 'Tables', icon: 'tables_folder_icon', nodeType: DatabaseNavNodeType.TABLES_FOLDER},
                                            {id: connectionId + '-views', text: 'Views', icon: 'views_folder_icon', nodeType: DatabaseNavNodeType.VIEWS_FOLDER},
                                            {id: connectionId + '-indexes', text: 'Indexes', icon: 'indexes_folder_icon', nodeType: DatabaseNavNodeType.INDEXES_FOLDER},
                                            {id: connectionId + '-mviews', text: 'Materialized Views', icon: 'mview_icon', nodeType: DatabaseNavNodeType.MVIEWS_FOLDER},
                                            {id: connectionId + '-procedures', text: 'Procedures', icon: 'procedure_icon', nodeType: DatabaseNavNodeType.PROCEDURES_FOLDER},
                                            {id: connectionId + '-functions', text: 'Functions', icon: 'function_icon', nodeType: DatabaseNavNodeType.FUNCTIONS_FOLDER},
                                            {id: connectionId + '-packages', text: 'Packages', icon: 'package_icon', nodeType: DatabaseNavNodeType.PACKAGES_FOLDER},
                                            {id: connectionId + '-sequences', text: 'Sequences', icon: 'sequence_icon', nodeType: DatabaseNavNodeType.SEQUENCES_FOLDER},
                                            {id: connectionId + '-synonyms', text: 'Synonyms', icon: 'synonym_icon', nodeType: DatabaseNavNodeType.SYNONYMS_FOLDER},
                                            // {id: connectionId + '-public-synonyms', text: 'Public Synonyms', icon: 'public_synonym_icon', nodeType: DatabaseNavNodeType.PUBLIC_SYNONYMS_FOLDER},
                                            {id: connectionId + '-triggers', text: 'Triggers', icon: 'trigger_icon', nodeType: DatabaseNavNodeType.TRIGGERS_FOLDER},
                                            {id: connectionId + '-types', text: 'Types', icon: 'type_icon', nodeType: DatabaseNavNodeType.TYPES_FOLDER},
                                            {id: connectionId + '-queues', text: 'Queues', icon: 'queue_icon', nodeType: DatabaseNavNodeType.QUEUES_FOLDER},
                                            {id: connectionId + '-database-links', text: 'Database Links', icon: 'dblink_icon', nodeType: DatabaseNavNodeType.DBLINKS_FOLDER},
                                            {id: connectionId + '-public-database-links', text: 'Public Database Links', icon: 'public_dblink_icon', nodeType: DatabaseNavNodeType.PUBLIC_DBLINKS_FOLDER},
                                            {id: connectionId + '-directories', text: 'Directories', icon: 'directory_icon', nodeType: DatabaseNavNodeType.DIRECTORIES_FOLDER}
                                          ]);
                schema.populateSchemaObjects();
              }

              function onTablesAvailable(tables) {
                tables.forEach(function(table) {
                  navigationTree.insert(connectionId + '-tables', null, [
                                          {id: connectionId + '-tables-' + table, text: table, icon: 'table_icon', nodeType: DatabaseNavNodeType.TABLE}
                                        ]);
                });
              }

              function onViewsAvailable(views) {
                views.forEach(function(view) {
                  navigationTree.insert(connectionId + '-views', null, [
                                          {id: connectionId + '-views-' + view, text: view, icon: 'view_icon', nodeType: DatabaseNavNodeType.VIEW}
                                        ]);
                });
              }

              function onIndexesAvailable(indexes) {
                indexes.forEach(function(index) {
                  navigationTree.insert(connectionId + '-indexes', null, [
                                          {id: connectionId + '-indexes-' + index, text: index, icon: 'index_icon', nodeType: DatabaseNavNodeType.INDEX}
                                        ]);
                });
              }

              function onMViewsAvailable(mviews) {
                mviews.forEach(function(mview) {
                  navigationTree.insert(connectionId + '-mviews', null, [
                                          {id: connectionId + '-mviews-' + mview, text: mview, icon: 'mview_icon', nodeType: DatabaseNavNodeType.MVIEW}
                                        ]);
                });
              }

              function onProceduresAvailable(procedures) {
                procedures.forEach(function(procedure) {
                  navigationTree.insert(connectionId + '-procedures', null, [
                                          {id: connectionId + '-procedures-' + procedure, text: procedure, icon: 'procedure_icon', nodeType: DatabaseNavNodeType.PROCEDURE}
                                        ]);
                });
              }

              function onFunctionsAvailable(functions) {
                functions.forEach(function(func) {
                  navigationTree.insert(connectionId + '-functions', null, [
                                          {id: connectionId + '-functions-' + func, text: func, icon: 'function_icon', nodeType: DatabaseNavNodeType.FUNCTION}
                                        ]);
                });
              }

              function onPackagesAvailable(packages) {
                packages.forEach(function(package) {
                  navigationTree.insert(connectionId + '-packages', null, [
                                          {id: connectionId + '-packages-' + package, text: package, icon: 'package_icon', nodeType: DatabaseNavNodeType.PACKAGE,
                                            nodes: [{id: connectionId + '-packages-' + package + '-body', text: package + ' Body', icon: 'package_icon', nodeType: DatabaseNavNodeType.PACKAGE_BODY}]
                                          }
                                        ]);
                });
              }

              function onSequencesAvailable(sequences) {
                sequences.forEach(function(sequence) {
                  navigationTree.insert(connectionId + '-sequences', null, [
                                          {id: connectionId + '-sequences-' + sequence, text: sequence, icon: 'sequence_icon', nodeType: DatabaseNavNodeType.SEQUENCE}
                                        ]);
                });
              }

              function onSynonymsAvailable(synonyms) {
                synonyms.forEach(function(synonym) {
                  navigationTree.insert(connectionId + '-synonyms', null, [
                                          {id: connectionId + '-synonyms-' + synonym, text: synonym, icon: 'synonym_icon', nodeType: DatabaseNavNodeType.SYNONYM}
                                        ]);
                });
              }

              function onPublicSynonymsAvailable(publicSynonyms) {
                // publicSynonyms.forEach(function(synonym) {
                //   navigationTree.insert(connectionId + '-public-synonyms', null, [
                //                           {id: connectionId + '-public-synonyms-' + synonym, text: synonym, icon: 'synonym_icon', nodeType: DatabaseNavNodeType.PUBLIC_SYNONYM}
                //                         ]);
                // });
              }

              function onTriggersAvailable(triggers) {
                triggers.forEach(function(trigger) {
                  navigationTree.insert(connectionId + '-triggers', null, [
                                          {id: connectionId + '-triggers-' + trigger, text: trigger, icon: 'trigger_icon', nodeType: DatabaseNavNodeType.TRIGGER}
                                        ]);
                });
              }

              function onTypesAvailable(types) {
                types.forEach(function(type) {
                  navigationTree.insert(connectionId + '-types', null, [
                                          {id: connectionId + '-types-' + type, text: type, icon: 'type_icon', nodeType: DatabaseNavNodeType.TYPE}
                                        ]);
                });
              }

              function onQueuesAvailable(queues) {
                queues.forEach(function(queue) {
                  navigationTree.insert(connectionId + '-queues', null, [
                                          {id: connectionId + '-queues-' + queue, text: queue, icon: 'queue_icon', nodeType: DatabaseNavNodeType.QUEUE}
                                        ]);
                });
              }

              function onDatabaseLinksAvailable(dblinks) {
                dblinks.forEach(function(dblink) {
                  navigationTree.insert(connectionId + '-database-links', null, [
                                          {id: connectionId + '-database-links-' + dblink, text: dblink, icon: 'dblink_icon', nodeType: DatabaseNavNodeType.DBLINK}
                                        ]);
                });
              }

              function onPublicDatabaseLinksAvailable(publicDBLinks) {
                publicDBLinks.forEach(function(dblink) {
                  navigationTree.insert(connectionId + '-public-database-links', null, [
                                          {id: connectionId + '-public-database-links-' + dblink, text: dblink, icon: 'dblink_icon', nodeType: DatabaseNavNodeType.PUBLIC_DBLINK}
                                        ]);
                });
              }

              function onDirectoriesAvailable(directories) {
                directories.forEach(function(directory) {
                  navigationTree.insert(connectionId + '-directories', null, [
                                          {id: connectionId + '-directories-' + directory, text: directory, icon: 'directory_icon', nodeType: DatabaseNavNodeType.DIRECTORY}
                                        ]);
                });
              }
            }
          }

          function onNewProject(navigationTree, project) {
            createProject(navigationTree, project);

            if(typeof(Storage)) {
              if(localStorage.projects) {
                var projects = localStorage.projects;
                var projectsArray = projects.split(',');
                projectsArray.push(project);
                localStorage.projects = projectsArray;
              } else {
                localStorage.projects = [project];
              }
            } else {
              alert('Cannot store project information!');
            }
          }

          function createProject(navigationTree, project) {
            var projectId = project.toLowerCase() + '-project';
            navigationTree.insert('projects', null, [{id: projectId, text: project, icon: 'fas fa-drafting-compass',
                            nodes: [
                              { id: projectId + '-edges', text: 'Edges', icon: 'edges_icon', nodeType: NavNodeType.EDGES_FOLDER},
                              { id: projectId + '-nodes', text: 'Nodes', icon: 'nodes_icon', nodeType: NavNodeType.NODES_FOLDER}
                            ], nodeType: NavNodeType.PROJECT
                          }]);
          }

		    }catch(err){
			    alert(err.stack);
			    console.log(err);
			    console.log(err.stack);
		    }
	    });
    </script>
  </body>
</html>
