<div id="constraint-add-check-action-popup" style="width: 360px; height: 280px;">
    <div rel="title">
        Add Check
    </div>
    <div rel="body" style="padding: 5px; width: 100%; height: 100%">
        <div style="line-height: 30px;">
            <label for='constraint-add-check-table-owner'>Owner:</label>
            <input id='constraint-add-check-table-owner' style="margin-left: 63px; width: 200px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='constraint-add-check-table-name'>Name:</label>
            <input id='constraint-add-check-table-name' style="margin-left: 68px; width: 200px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='constraint-add-check-constraint-name'>Constraint:</label>
            <input id='constraint-add-check-constraint-name' style="margin-left: 42px; width: 200px;" />
        </div>
        <div style="line-height: 30px;">
            <label for='constraint-add-check-condition'>Check Condition:</label>
            <input id='constraint-add-check-condition' style="margin-left: 7px; width: 200px;" />
        </div>
        <div style="line-height: 30px;">
            <label for='constraint-add-check-status'>Status:</label>
            <select id='constraint-add-check-status' style="margin-left: 65px; width: 200px;">
                <option>ENABLE</option>
                <option>DISABLE</option>
            </select>
        </div>
    	<script type="text/javascript">
    		var queryString = window.location.search;
			var params = new URLSearchParams(queryString);
			var tableName = params.get('name');
			var schemaName = params.get('schemaName');

            $j('#constraint-add-check-table-owner').val(schemaName);
            $j('#constraint-add-check-table-name').val(tableName);

            var dbSQL = null;
            
            function applyAndClose() {
                var constraintName = $j('#constraint-add-check-constraint-name').val();
                var checkCondition = $j('#constraint-add-check-condition').val();
                var status = $j('#constraint-add-check-status').val();

                if(constraintName === null || constraintName === undefined || constraintName === '') {
                    w2alert('Constraint Name field cannot be empty!');
                } else if(checkCondition === null || checkCondition === undefined || checkCondition === '') {
                    w2alert('Check Condition field cannot be empty!');
                } else {
                    var sql = 'ALTER TABLE ' + schemaName + '.' + tableName + ' ADD CONSTRAINT ' + constraintName + ' CHECK(' + checkCondition + ') ' + status + ';';
                    dbSQL = new DatabaseSQL();
                    dbSQL.addSQLSuccessEventListener(onSQLSuccess);
                    dbSQL.addSQLErrorEventListener(onSQLError);

                    w2popup.lock('Adding constraint...', true);
                    dbSQL.execute_sql(sql);
                }
            }

            function onSQLSuccess() {
                w2popup.unlock();
                w2alert('Constraint added successfully!')
                    .done(function() {
                        dbSQL.destroy();
                        w2popup.close();
                    });
            }

            function onSQLError(result) {
                w2popup.unlock();
                w2alert('Error while adding constraint: ' + result);
                dbSQL.destroy();
            }
    	</script>
    </div>
    <div rel="buttons">
        <button class="w2ui-btn" onclick="applyAndClose()">Apply</button>
        <button class="w2ui-btn" onclick="w2popup.close()">Close</button>
    </div>
</div>