<div id="constraint-add-foreign-key-action-popup" style="width: 390px; height: 300px;">
    <div rel="title">
        Add Foreign Key
    </div>
    <div rel="body" style="padding: 5px; width: 100%; height: 100%">
        <div style="line-height: 30px;">
            <label for='constraint-add-foreign-key-table-owner'>Owner:</label>
            <input id='constraint-add-foreign-key-table-owner' style="margin-left: 93px; width: 200px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='constraint-add-foreign-key-table-name'>Name:</label>
            <input id='constraint-add-foreign-key-table-name' style="margin-left: 97px; width: 200px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='constraint-add-foreign-key-constraint-name'>Constraint:</label>
            <input id='constraint-add-foreign-key-constraint-name' style="margin-left: 71px; width: 200px;" />
        </div>
        <div style="line-height: 30px;">
            <label for='constraint-add-foreign-key-column'>Column Name:</label>
            <select id='constraint-add-foreign-key-column' style="margin-left: 49px; width: 200px;">
            </select>
        </div>
        <div style="line-height: 30px;">
            <label for='constraint-add-foreign-key-ref-table'>Reference Table Name:</label>
            <select id='constraint-add-foreign-key-ref-table' style="margin-left: 0px; width: 200px;">
            </select>
        </div>
        <div style="line-height: 30px;">
            <label for='constraint-add-foreign-key-ref-column'>Reference Column:</label>
            <select id='constraint-add-foreign-key-ref-column' style="margin-left: 24px; width: 200px;">
            </select>
        </div>
    	<script type="text/javascript">
    		var queryString = window.location.search;
			var params = new URLSearchParams(queryString);
			var tableName = params.get('name');
			var schemaName = params.get('schemaName');

            $j('#constraint-add-foreign-key-table-owner').val(schemaName);
            $j('#constraint-add-foreign-key-table-name').val(tableName);

            var dbSQL = null;
            var db = new Database();
            var source = '';

            db.addColumnsAvailableEventListener(onColumnsListAvailable);
            db.addTablesAvailableEventListener(onTablesListAvailable);
            db.getColumns(schemaName, tableName);
            db.getTables(schemaName);

            $j('#constraint-add-foreign-key-ref-table').on('change', function() {
                var refTable = this.value;
                source = 'REF';
                db.getColumns(schemaName, refTable);
            });

            function onColumnsListAvailable(result) {
                if(source === 'REF') {
                    $j('#constraint-add-foreign-key-ref-column').empty();
                    result.forEach(function(column) {
                        $j('#constraint-add-foreign-key-ref-column').append('<option>' + column + '</option>');
                    }); 
                } else {
                    result.forEach(function(column) {
                        $j('#constraint-add-foreign-key-column').append('<option>' + column + '</option>');
                    });    
                }
            }

            function onTablesListAvailable(result) {
                result.forEach(function(table) {
                    $j('#constraint-add-foreign-key-ref-table').append('<option>' + table + '</option>');
                });
                $j('#constraint-add-foreign-key-ref-table').trigger('change');
            }
            
            function applyAndClose() {
                var constraintName = $j('#constraint-add-foreign-key-constraint-name').val();
                var localColumn = $j('#constraint-add-foreign-key-column').val();
                var refTable = $j('#constraint-add-foreign-key-ref-table').val();
                var refColumn = $j('#constraint-add-foreign-key-ref-column').val();       
                
                if(constraintName === null || constraintName === undefined || constraintName === '') {
                    w2alert('Constraint Name field cannot be empty!');
                } else {
                    var sql = 'ALTER TABLE ' + schemaName + '.' + tableName + ' ADD CONSTRAINT ' + constraintName + ' FOREIGN KEY(' + localColumn + ') REFERENCES ' + refTable + '(' + refColumn + ');';
                    dbSQL = new DatabaseSQL();
                    dbSQL.addSQLSuccessEventListener(onSQLSuccess);
                    dbSQL.addSQLErrorEventListener(onSQLError);

                    w2popup.lock('Adding constraint...', true);
                    dbSQL.execute_sql(sql);
                }
            }

            function onSQLSuccess() {
                w2popup.unlock();
                w2alert('Constraint added successfully!')
                    .done(function() {
                        dbSQL.destroy();
                        w2popup.close();
                    });
            }

            function onSQLError(result) {
                w2popup.unlock();
                w2alert('Error while adding constraint: ' + result);
                dbSQL.destroy();
            }
    	</script>
    </div>
    <div rel="buttons">
        <button class="w2ui-btn" onclick="applyAndClose()">Apply</button>
        <button class="w2ui-btn" onclick="w2popup.close()">Close</button>
    </div>
</div>