<div id="constraint-disable-all-action-popup" style="width: 350px; height: 240px;">
    <div rel="title">
        Disable All
    </div>
    <div rel="body" style="padding: 5px; width: 100%; height: 100%">
        <div style="line-height: 30px;">
            <label for='constraint-disable-all-table-owner'>Owner:</label>
            <input id='constraint-disable-all-table-owner' style="margin-left: 5px; width: 250px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='constraint-disable-all-table-name'>Name:</label>
            <input id='constraint-disable-all-table-name' style="margin-left: 10px; width: 250px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <input id='constraint-disable-all-validate' type="checkbox" style="margin-left: 55px;">VALIDATE</input>
        </div>
        <div style="line-height: 30px;">
            Confirm disabling of all constraints?
        </div>
    	<script type="text/javascript">
    		var queryString = window.location.search;
			var params = new URLSearchParams(queryString);
			var tableName = params.get('name');
			var schemaName = params.get('schemaName');

            $j('#constraint-disable-all-table-owner').val(schemaName);
            $j('#constraint-disable-all-table-name').val(tableName);
    	</script>
    </div>
    <div rel="buttons">
        <button class="w2ui-btn" onclick="w2popup.close()">Apply</button>
        <button class="w2ui-btn" onclick="w2popup.close()">Close</button>
    </div>
</div>