<div id="constraint-disable-single-action-popup" style="width: 360px; height: 240px;">
    <div rel="title">
        Disable Single
    </div>
    <div rel="body" style="padding: 5px; width: 100%; height: 100%">
        <div style="line-height: 30px;">
            <label for='constraint-disable-single-table-owner'>Owner:</label>
            <input id='constraint-disable-single-table-owner' style="margin-left: 33px; width: 230px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='constraint-disable-single-table-name'>Name:</label>
            <input id='constraint-disable-single-table-name' style="margin-left: 37px; width: 230px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='constraint-disable-single-constraint-name'>Constraint:</label>
            <select id='constraint-disable-single-constraint-name' style="margin-left: 10px; width: 230px;">
            </select>
        </div>
        <div style="line-height: 30px;">
            <input id='constraint-disable-single-validate' type="checkbox" style="margin-left: 80px;">VALIDATE</input>
        </div>
    	<script type="text/javascript">
    		var queryString = window.location.search;
			var params = new URLSearchParams(queryString);
			var tableName = params.get('name');
			var schemaName = params.get('schemaName');

            $j('#constraint-disable-single-table-owner').val(schemaName);
            $j('#constraint-disable-single-table-name').val(tableName);

            var dbSQL = null;
            var db = new Database();

            db.addEnabledConstraintsListAvailableEventListener(onConstraintsListAvailable);
            db.getEnabledConstraintsList(schemaName, tableName);

            function onConstraintsListAvailable(result) {
                result.forEach(function(constraint) {
                    $j('#constraint-disable-single-constraint-name').append('<option>' + constraint + '</option>');
                });
            }
            
            function applyAndClose() {
                var validate = $j('#constraint-disable-single-validate').prop('checked');
                var constraint = $j('#constraint-disable-single-constraint-name').val();
                var validateStatement = '';

                if(validate) {
                    validateStatement = 'VALIDATE ';
                }

                var sql = 'ALTER TABLE ' + schemaName + '.' + tableName + ' DISABLE ' + validateStatement + 'CONSTRAINT ' + constraint;
                dbSQL = new DatabaseSQL();
                dbSQL.addSQLSuccessEventListener(onSQLSuccess);
                dbSQL.addSQLErrorEventListener(onSQLError);

                w2popup.lock('Disabling constraints...', true);
                dbSQL.execute_sql(sql);
            }

            function onSQLSuccess() {
                w2popup.unlock();
                w2alert('Constraints disabled successfully!')
                    .done(function() {
                        dbSQL.destroy();
                        w2popup.close();
                    });
            }

            function onSQLError(result) {
                w2popup.unlock();
                w2alert('Error while disabling constraints: ' + result);
                dbSQL.destroy();
            }
    	</script>
    </div>
    <div rel="buttons">
        <button class="w2ui-btn" onclick="applyAndClose()">Apply</button>
        <button class="w2ui-btn" onclick="w2popup.close()">Close</button>
    </div>
</div>