<div id="constraint-drop-action-popup" style="width: 360px; height: 200px;">
    <div rel="title">
        Drop
    </div>
    <div rel="body" style="padding: 5px; width: 100%; height: 100%">
        <div style="line-height: 30px;">
            <label for='constraint-drop-table-owner'>Owner:</label>
            <input id='constraint-drop-table-owner' style="margin-left: 33px; width: 230px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='constraint-drop-table-name'>Name:</label>
            <input id='constraint-drop-table-name' style="margin-left: 37px; width: 230px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='constraint-drop-constraint-name'>Constraint:</label>
            <select id='constraint-drop-constraint-name' style="margin-left: 10px; width: 230px;">
            </select>
        </div>
    	<script type="text/javascript">
    		var queryString = window.location.search;
			var params = new URLSearchParams(queryString);
			var tableName = params.get('name');
			var schemaName = params.get('schemaName');

            $j('#constraint-drop-table-owner').val(schemaName);
            $j('#constraint-drop-table-name').val(tableName);

            var dbSQL = null;
            var db = new Database();

            db.addConstraintsListAvailableEventListener(onConstraintsListAvailable);
            db.getConstraintsList(schemaName, tableName);

            function onConstraintsListAvailable(result) {
                result.forEach(function(constraint) {
                    $j('#constraint-drop-constraint-name').append('<option>' + constraint + '</option>');
                });
            }
            
            function applyAndClose() {
                var constraint = $j('#constraint-drop-constraint-name').val();
                
                var sql = 'ALTER TABLE ' + schemaName + '.' + tableName + ' DROP CONSTRAINT ' + constraint;
                dbSQL = new DatabaseSQL();
                dbSQL.addSQLSuccessEventListener(onSQLSuccess);
                dbSQL.addSQLErrorEventListener(onSQLError);

                w2popup.lock('Dropping constraint...', true);
                dbSQL.execute_sql(sql);
            }

            function onSQLSuccess() {
                w2popup.unlock();
                w2alert('Constraint dropped successfully!')
                    .done(function() {
                        dbSQL.destroy();
                        w2popup.close();
                    });
            }

            function onSQLError(result) {
                w2popup.unlock();
                w2alert('Error while dropping constraint: ' + result);
                dbSQL.destroy();
            }
    	</script>
    </div>
    <div rel="buttons">
        <button class="w2ui-btn" onclick="applyAndClose()">Apply</button>
        <button class="w2ui-btn" onclick="w2popup.close()">Close</button>
    </div>
</div>