<div id="constraint-enable-foreign-key-action-popup" style="width: 350px; height: 200px;">
    <div rel="title">
        Enable Related Foreign Keys
    </div>
    <div rel="body" style="padding: 5px; width: 100%; height: 100%">
        <div style="line-height: 30px;">
            <label for='constraint-enable-foreign-key-table-owner'>Owner:</label>
            <input id='constraint-enable-foreign-key-table-owner' style="margin-left: 5px; width: 250px;" disabled />
        </div>
        <div style="line-height: 30px;">
            <label for='constraint-enable-foreign-key-table-name'>Name:</label>
            <input id='constraint-enable-foreign-key-table-name' style="margin-left: 10px; width: 250px;" disabled />
        </div>
        <div style="line-height: 30px;">
            Confirm enabling of all constraints?
        </div>
    	<script type="text/javascript">
    		var queryString = window.location.search;
			var params = new URLSearchParams(queryString);
			var tableName = params.get('name');
			var schemaName = params.get('schemaName');

            $j('#constraint-enable-foreign-key-table-owner').val(schemaName);
            $j('#constraint-enable-foreign-key-table-name').val(tableName);
    	</script>
    </div>
    <div rel="buttons">
        <button class="w2ui-btn" onclick="w2popup.close()">Apply</button>
        <button class="w2ui-btn" onclick="w2popup.close()">Close</button>
    </div>
</div>